==================================================Unigram Constraints (Iteration 1)==================================================
0: but  & because  & my  & conf@@  & conf@@  & conf@@  & conf@@  & mind  & ,  & ,  & ,  & i  & i  & ended  & very  & very  & very  & very  & self-@@  & self-@@  & self-@@  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: and  & based  & i  & my  & con@@  & my  & mental  & mental  & mind  & it@@  & i  & ,  & ended  & i  & quickly  & quickly  & quickly  & on  & very  & help  & help  & help  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: now  & i  & of  & con@@  & my  & us@@  & mind  & intellectual  & it@@  & tion  & it@@  & was  & ,  & land@@  & ended  & on  & on  & self-@@  & for  & support  & support  & .  & .  & .  & .  & .  & .  & .  & ,
3: however  & due  & because  & used  & us@@  & con@@  & ated  & ,  & my  & sion  & tion  & land@@  & land@@  & very  & i  & i  & rapi@@  & the  & the  & very  & .  & self-@@  & help  & books  & books  & books  & books  & books  & and
4: well  & with  & it  & of  & used  & ated  & intellectual  & spirit  & ation  & su@@  & my  & ing  & ed  & ed  & ed  & in  & in  & quickly  & self  & for  & very  & support  & books  & help  & very  & very  & very  & book  & to
5: so  & thanks  & with  & using  & using  & mind  & my  & my  & tion  & my  & su@@  & my  & up  & up  & up  & ed  & the  & for  & help  & self  & for  & books  & self-@@  & very  & help  & book  & book  & very  & <s>
6: i  & through  & using  & i  & puzz@@  & using  & us@@  & ing  & sion  & so@@  & sion  & it@@  & very  & quickly  & land@@  & to  & with  & self  & on  & .  & </s>  & very  & very  & self-@@  & book  & help  & help  & help  & <unk>
7: yet  & given  & on  & puzz@@  & i  & mental  & ,  & in@@  & mental  & i  & ing  & ed  & quickly  & ,  & on  & rapi@@  & to  & with  & support  & the  & self  & for  & support  & book  & self-@@  & self-@@  & self-@@  & i  & the
8: because  & since  & from  & us@@  & of  & used  & spirit  & ation  & ing  & ation  & ation  & up  & ing  & to  & in  & with  & i  & rapi@@  & to  & of  & books  & i  & i  & i  & i  & i  & i  & fast  & of
9: what  & on  & through  & through  & ated  & puzz@@  & ed  & human@@  & spirit  & ing  & ution  & on  & on  & on  & to  & up  & for  & to  & with  & i  & of  & self  & for  & for  & for  & for  & for  & self-@@  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: but because  & because of  & of my  & my conf@@  & conf@@ used  & used intellectual  & intellectual mind  & mind it@@  & it@@ ation  & ation ,  & , i  & i ended  & ended up  & up very  & very quickly  & quickly in  & in the  & the self-@@  & self-@@ help  & help books  & books .  & . </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>
1: but based  & based on  & on my  & conf@@ used  & conf@@ using  & used mental  & intellectual spirit  & spirit it@@  & spirit it@@  & it@@ ution  & ution ,  & i land@@  & land@@ ed  & ed very  & up very  & very quickly  & quickly on  & on self-@@  & on self-@@  & self-@@ help  & help books  & books .  & . </s>  & </s> <pad>  & books .  & . </s>  & </s> <pad>  & </s> <pad>
2: and because  & based with  & with my  & i conf@@  & conf@@ us@@  & used ,  & mental mind  & mind spirit  & mind it@@  & , i  & i land@@  & , i  & i ended  & ended up  & i very  & quickly on  & on the  & with self-@@  & the self-@@  & support books  & books for  & for self-@@  & self-@@ help  & help books  & </s> <pad>  & </s> <pad>  & . </s>  & </s> </s>
3: now because  & based through  & through my  & my con@@  & used mind  & used spirit  & mental spirit  & intellectual mind  & ation ,  & i ,  & i ,  & land@@ ed  & ed ,  & , i  & i quickly  & quickly with  & with the  & quickly on  & self-@@ support  & the self-@@  & self-@@ help  & help books  & books .  & . </s>  & . </s>  & books .  & . <pad>  & </s> ,
4: and based  & with my  & my conf@@  & con@@ conf@@  & used mental  & used mind  & intellectual intellectual  & mind mind  & sion ,  & su@@ ing  & i was  & land@@ ing  & i land@@  & land@@ ed  & ed very  & quickly to  & to the  & for self-@@  & with self-@@  & help .  & . </s>  & </s> <pad>  & <pad> <pad>  & books .  & book .  & . .  & i </s>  & </s> the
5: well because  & because from  & from my  & conf@@ conf@@  & conf@@ ated  & using intellectual  & mental in@@  & in@@ ation  & ation it@@  & , ,  & ing ,  & was very  & ed up  & ed up  & quickly i  & i quickly  & quickly with  & on the  & for self-@@  & self-@@ support  & support books  & for support  & support books  & help book  & help books  & book .  & books </s>  & </s> of
6: now based  & given my  & of i  & of conf@@  & con@@ us@@  & using mental  & intellectual in@@  & intellectual spirit  & , i  & sion ,  & ation ,  & was land@@  & ing ,  & very quickly  & in very  & up very  & very quickly  & with the  & help self-@@  & help self-@@  & books self  & self books  & help books  & self-@@ help  & books </s>  & . <pad>  & book </s>  & </s> <unk>
7: yet because  & through my  & on i  & conf@@ using  & used us@@  & used ated  & , my  & spirit spirit  & sion it@@  & it@@ ation  & ution i  & i quickly  & ed very  & up in  & ended up  & ed very  & i quickly  & quickly with  & on the  & help help  & books </s>  & self-@@ help  & for self-@@  & help .  & help book  & very .  & for </s>  & </s> <s>
8: but with  & based using  & using my  & using my  & used using  & used my  & mental intellectual  & in@@ sion  & mind su@@  & i ution  & i i  & was i  & ed i  & i ended  & land@@ ed  & ed in  & quickly for  & to self-@@  & self support  & for self-@@  & books self-@@  & for help  & . .  & book .  & books books  & i .  & i <pad>  & </s> and
9: so because  & because with  & of conf@@  & my used  & used my  & used us@@  & spirit spirit  & my mind  & it@@ sion  & i ation  & , ,  & was ,  & very quickly  & quickly ended  & quickly in  & in very  & in on  & to the  & with the  & help support  & books very  & books for  & i .  & help help  & books <pad>  & for .  & help </s>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: but because of  & because of my  & of my conf@@  & my conf@@ used  & conf@@ used ,  & used , my  & , my mind  & my mind it@@  & mind it@@ ution  & it@@ ution ,  & ution , i  & , i ended  & i ended up  & ended up very  & up very quickly  & very quickly on  & quickly on self-@@  & on self-@@ help  & self-@@ help books  & help books .  & books . </s>  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>
1: but based on  & based on my  & on my conf@@  & my conf@@ using  & conf@@ used intellectual  & used intellectual intellectual  & intellectual intellectual mind  & intellectual mind it@@  & mind su@@ ing  & su@@ ing ,  & ing , i  & , i land@@  & i land@@ ed  & land@@ ed very  & ed very quickly  & very quickly with  & quickly with self-@@  & with self-@@ help  & the self-@@ help  & self-@@ help books  & help books .  & books . </s>  & . </s> <pad>  & </s> <pad> <pad>  & books . </s>  & . </s> <pad>  & </s> <pad> <pad>
2: and because of  & based with my  & with my conf@@  & i conf@@ used  & conf@@ used mental  & used intellectual mind  & intellectual intellectual spirit  & my mind su@@  & spirit it@@ ution  & it@@ ution i  & ution i ended  & i ended up  & ended up very  & up very quickly  & very quickly in  & very quickly for  & quickly for self-@@  & for self-@@ help  & self-@@ support books  & support books .  & books for self-@@  & for self-@@ help  & self-@@ help books  & help books .  & </s> <pad> <pad>  & </s> <pad> <pad>  & . </s> <pad>
3: now because of  & based through my  & through my conf@@  & conf@@ conf@@ used  & conf@@ used spirit  & used intellectual spirit  & intellectual mind spirit  & intellectual spirit it@@  & it@@ ation ,  & ation , i  & , i ended  & i land@@ ed  & land@@ ed very  & ed very quickly  & very quickly on  & quickly in the  & quickly on the  & on the self-@@  & the self-@@ support  & help books for  & support books .  & help books .  & books . </s>  & . </s> <pad>  & . </s> <pad>  & books . </s>  & . <pad> <pad>
4: and based on  & because from my  & from my conf@@  & conf@@ used using  & conf@@ using intellectual  & used mental mind  & intellectual spirit spirit  & mind spirit it@@  & sion it@@ ution  & , i land@@  & ution i land@@  & land@@ ed ,  & ed , i  & , i very  & i very quickly  & quickly on the  & in the self-@@  & the self-@@ help  & self-@@ help self-@@  & self-@@ support books  & self-@@ help books  & </s> <pad> <pad>  & <pad> <pad> <pad>  & books . </s>  & book . </s>  & book . </s>  & for </s> <pad>
5: but based with  & because with my  & of i conf@@  & i conf@@ using  & conf@@ using mental  & used mental intellectual  & mental mind spirit  & spirit spirit it@@  & sion , i  & , i was  & , i land@@  & was land@@ ed  & ended up in  & up in very  & very quickly with  & quickly with the  & quickly with the  & with the self-@@  & on self-@@ help  & help self-@@ help  & . </s> <pad>  & self-@@ help books  & help books .  & help book .  & help books .  & . . </s>  & book </s> <pad>
6: well because of  & because of i  & using my conf@@  & conf@@ conf@@ using  & used using intellectual  & used mental spirit  & intellectual mind it@@  & mind it@@ ation  & mind it@@ ation  & it@@ ation ,  & i land@@ ed  & land@@ ed up  & ed up very  & quickly ended up  & in very quickly  & quickly to the  & on the self-@@  & on self-@@ support  & self-@@ help .  & help . </s>  & books </s> <pad>  & for support books  & support books .  & self-@@ help books  & help book .  & . <pad> <pad>  & i <pad> <pad>
7: now based on  & based using my  & on i conf@@  & my used using  & used using mental  & used spirit spirit  & mental intellectual mind  & spirit it@@ ation  & it@@ sion ,  & sion , i  & i was land@@  & was very quickly  & very quickly ended  & i ended up  & very quickly to  & quickly in on  & with the self-@@  & with self-@@ support  & self-@@ help help  & help help books  & books self-@@ help  & books for self-@@  & self-@@ help book  & help . </s>  & books . .  & books . <pad>  & help </s> <pad>
8: but based through  & based on i  & my conf@@ conf@@  & my conf@@ us@@  & conf@@ used mind  & used mental in@@  & intellectual spirit it@@  & mind mind it@@  & sion , ,  & , i ,  & ation , i  & land@@ ed i  & ed i ended  & , i quickly  & ended up very  & up very quickly  & to the self-@@  & for self-@@ support  & with self-@@ help  & help books </s>  & books for support  & for help books  & for self-@@ help  & self-@@ help book  & books </s> <pad>  & book . <pad>  & i </s> <pad>
9: yet because of  & with my conf@@  & my conf@@ used  & my conf@@ ated  & conf@@ used ated  & used intellectual in@@  & intellectual mind mind  & in@@ sion it@@  & ation , i  & , , i  & i , i  & land@@ ing ,  & land@@ ed up  & ed up very  & i quickly in  & in very quickly  & in on self-@@  & the self-@@ support  & self-@@ help support  & help books self-@@  & help books for  & books . .  & . . </s>  & help books </s>  & books books .  & . . <pad>  & books </s> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: but because of my  & because of my conf@@  & of my conf@@ used  & my conf@@ used ,  & conf@@ used , my  & used , my mind  & , my mind it@@  & my mind it@@ ution  & mind it@@ ution ,  & it@@ ution , i  & ution , i ended  & , i ended up  & i ended up very  & ended up very quickly  & up very quickly with  & very quickly with self-@@  & quickly with self-@@ help  & with self-@@ help books  & self-@@ help books .  & help books . </s>  & books . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
1: but based on my  & based on my conf@@  & on my conf@@ used  & my conf@@ used mental  & conf@@ used mental mind  & used mental mind spirit  & mental mind spirit it@@  & mind spirit it@@ ution  & spirit it@@ ution ,  & su@@ ing , i  & ution , i land@@  & , i land@@ ed  & i land@@ ed very  & land@@ ed very quickly  & up very quickly on  & very quickly on self-@@  & quickly on self-@@ help  & on self-@@ help books  & the self-@@ help books  & self-@@ help books .  & help books . </s>  & books . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & books . </s> <pad>  & . </s> <pad> <pad>
2: and because of my  & because of i conf@@  & of i conf@@ used  & my conf@@ used intellectual  & conf@@ used mental intellectual  & used mental intellectual mind  & mental intellectual mind it@@  & intellectual mind it@@ ution  & mind su@@ ing ,  & it@@ ution i ended  & ing , i ended  & i ended up very  & ended up very quickly  & up very quickly in  & ed very quickly on  & very quickly for self-@@  & quickly for self-@@ help  & for self-@@ help books  & self-@@ support books .  & support books . </s>  & support books . </s>  & for self-@@ help books  & self-@@ help books .  & help books . </s>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>
3: now because of my  & based with my conf@@  & with my conf@@ used  & i conf@@ used ,  & conf@@ used intellectual intellectual  & used intellectual intellectual mind  & , my mind su@@  & my mind su@@ ing  & mind it@@ ution i  & ation , i ended  & ution i ended up  & i land@@ ed very  & land@@ ed very quickly  & ed very quickly in  & ed very quickly with  & very quickly with the  & quickly with the self-@@  & with the self-@@ help  & the self-@@ support books  & self-@@ support books .  & books for self-@@ help  & help books . </s>  & books . </s> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>  & books . </s> <pad>
4: but because of i  & based on i conf@@  & on i conf@@ used  & i conf@@ used mental  & conf@@ used intellectual spirit  & used intellectual spirit spirit  & intellectual intellectual mind it@@  & spirit spirit it@@ ution  & spirit it@@ ution i  & it@@ ution i land@@  & ing , i land@@  & i ended up in  & ended up in very  & up very quickly with  & up very quickly for  & quickly in the self-@@  & in the self-@@ help  & the self-@@ help books  & self-@@ help books for  & help books for self-@@  & self-@@ help books .  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & books . </s> <pad>  & help books . </s>  & book . </s> <pad>
5: and based on my  & based through my conf@@  & through my conf@@ used  & i conf@@ used intellectual  & conf@@ used intellectual mind  & used intellectual intellectual spirit  & intellectual spirit spirit it@@  & intellectual spirit it@@ ution  & it@@ ation , i  & ation , i land@@  & , i ended up  & i land@@ ed up  & land@@ ed up very  & up in very quickly  & ed very quickly for  & very quickly on the  & quickly on the self-@@  & on the self-@@ help  & self-@@ help self-@@ help  & help self-@@ help books  & . </s> <pad> <pad>  & self-@@ help books .  & help books . </s>  & self-@@ help books .  & book . </s> <pad>  & . . </s> <pad>
6: but based with my  & based using my conf@@  & of my conf@@ ated  & my conf@@ used ated  & conf@@ used mental in@@  & used intellectual mind spirit  & intellectual intellectual spirit it@@  & spirit it@@ ation ,  & mind it@@ ation ,  & it@@ ation , i  & ution i land@@ ed  & was land@@ ed up  & ed , i very  & up very quickly on  & very quickly in the  & quickly with the self-@@  & quickly with self-@@ support  & with self-@@ support books  & self-@@ help help books  & help help books .  & books </s> <pad> <pad>  & books for self-@@ help  & for self-@@ help books  & help book . </s>  & help book . </s>  & books . <pad> <pad>
7: but based on i  & with my conf@@ conf@@  & on my conf@@ using  & my conf@@ using intellectual  & conf@@ used spirit spirit  & used intellectual spirit it@@  & intellectual mind spirit it@@  & mind mind it@@ ution  & sion , i land@@  & sion , i ended  & , i land@@ ed  & land@@ ed up very  & ed up very quickly  & ed very quickly on  & very quickly with the  & quickly on the self-@@  & with the self-@@ help  & on self-@@ support books  & self-@@ help . </s>  & help . </s> <pad>  & books self-@@ help books  & books . . </s>  & . . </s> <pad>  & self-@@ help book .  & books . . </s>  & book . <pad> <pad>
8: well because of my  & because with my conf@@  & of my conf@@ us@@  & my conf@@ used mind  & conf@@ used mental spirit  & used intellectual mind mind  & intellectual spirit it@@ ation  & mind it@@ ation ,  & sion it@@ ution i  & , i was land@@  & ation , i ended  & was land@@ ed very  & ed , i quickly  & ed very quickly with  & in very quickly on  & quickly to the self-@@  & quickly on self-@@ support  & for self-@@ support books  & self-@@ help books </s>  & help books </s> <pad>  & help books for self-@@  & for self-@@ help book  & self-@@ help book .  & help books . .  & books </s> <pad> <pad>  & . . <pad> <pad>
9: now based on my  & because from my conf@@  & of my conf@@ using  & my conf@@ used spirit  & conf@@ used intellectual in@@  & used intellectual mind it@@  & intellectual mind mind it@@  & my mind it@@ ation  & sion it@@ ution ,  & , i land@@ ed  & ation , i land@@  & land@@ ed , i  & very quickly ended up  & ed very quickly to  & very quickly on the  & quickly in on self-@@  & on the self-@@ help  & with the self-@@ support  & self-@@ help books self-@@  & help books self-@@ help  & help books . .  & for support books .  & support books . </s>  & help books </s> <pad>  & help books . <pad>  & . <pad> <pad> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: but because of my conf@@ used , my mind it@@ ution , i ended up very quickly with self-@@ help books . </s> <pad> <pad> <pad> <pad> <pad> <pad>
