==================================================Unigram Constraints (Iteration 1)==================================================
0: after  & the  & the  & ing  & ing  & ing  & ing  & the  & the  & japanese  & japanese  & japanese  & ager  & who  & for  & half  & half  & hour  & ,  & he  & he  & said  & ,  & ,  & &quot;  & &quot;  & &quot;  & ,  & ,  & did  & did  & did  & you  & ask  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: so  & after  & job  & r@@  & tion  & tion  & tion  & with  & with  & the  & the  & man@@  & who  & took  & half  & an  & an  & half  & he  & ,  & said  & ,  & said  & &quot;  & ,  & ,  & ,  & &quot;  & did  & ,  & ,  & you  & have  & have  & ask  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: and  & i  & after  & the  & r@@  & ment  & of  & of  & of  & a  & man@@  & ager  & man@@  & for  & an  & for  & hour  & an  & half  & said  & ,  & he  & he  & said  & like  & so  & so  & like  & like  & you  & you  & ,  & did  & you  & have  & me  & me  & &quot;  & &quot;  & &quot;  & &quot;  & ,
3: when  & ,  & r@@  & gra@@  & gra@@  & of  & with  & tion  & japanese  & of  & woman  & woman  & woman  & a  & took  & hour  & for  & ,  & after  & after  & eventually  & finally  & &quot;  & he  & so  & well  & well  & so  & wife  & do  & do  & have  & ask  & do  & you  & ask  & &quot;  & me  & me  & ?  & ?  & and
4: now  & when  & gra@@  & of  & ment  & r@@  & the  & ing  & to  & woman  & ager  & the  & a  & that  & a  & a  & ,  & after  & hour  & and  & finally  & eventually  & finally  & like  & well  & like  & like  & well  & &quot;  & like  & have  & do  & ,  & did  & me  & &quot;  & ?  & ?  & ?  & me  & me  & to
5: at  & having  & ev@@  & job  & of  & ation  & ment  & to  & about  & with  & a  & a  & ,  & about  & about  & about  & a  & and  & an  & eventually  & after  & &quot;  & eventually  & finally  & said  & this  & this  & this  & woman  & wife  & ang  & ask  & do  & ,  & asking  & ?  & ask  & you  & you  & you  & you  & <s>
6: well  & according  & re@@  & ding  & ding  & gra@@  & conversation  & conversation  & a  & about  & man  & man  & that  & one  & who  & ,  & one  & he  & and  & ultimately  & ultimately  & ultimately  & ultimately  & to  & this  & you  & wife  & wife  & you  & woman  & ask  & are  & are  & asking  & &quot;  & you  & you  & ask  & ask  & ask  & ask  & <unk>
7: having  & then  & of  & ting  & job  & job  & to  & ment  & this  & this  & of  & who  & for  & ,  & one  & one  & hours  & hours  & said  & finally  & and  & end  & like  & saying  & you  & here  & you  & woman  & this  & said  & z  & were  & asking  & are  & ?  & have  & asking  & for  & for  & .  & .  & the
8: as  & to  & case  & ev@@  & ting  & the  & about  & about  & in  & to  & english  & sing@@  & one  & take  & was  & took  & about  & one  & end  & end  & end  & after  & say  & say  & is  & said  & here  & you  & do  & y@@  & does  & had  & were  & &quot;  & ,  & asking  & have  & ,  & ,  & for  & for  & of
9: in  & at  & ing  & tion  & ation  & ating  & in  & ,  & ing  & by  & by  & ,  & the  & was  & that  & the  & the  & a  & then  & half  & ended  & and  & end  & was  & saying  & wife  & woman  & did  & so  & does  & y@@  & ang  & had  & were  & do  & ,  & for  & asking  & .  & ,  & ,  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: so ,  & , after  & after the  & the r@@  & r@@ ating  & ating conversation  & conversation with  & with the  & the japanese  & japanese man@@  & man@@ ager  & ager that  & that took  & took half  & half an  & an hour  & hour ,  & , he  & he finally  & finally said  & said ,  & , he  & he said  & said ,  & , &quot;  & &quot; so  & so ,  & , woman  & woman y@@  & y@@ ang  & ang ,  & , did  & did you  & you ask  & ask me  & me ?  & ? &quot;  & &quot; </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>
1: now ,  & after the  & the job  & job r@@  & ding job  & job conversation  & conversation of  & with a  & a japanese  & japanese woman  & woman woman  & ager who  & who took  & who took  & took half  & half an  & an hour  & hour ,  & he said  & said ,  & , he  & he said  & said ,  & , &quot;  & &quot; so  & so ,  & , &quot;  & &quot; so  & so ,  & , did  & did you  & , do  & do you  & ask me  & me ?  & ? &quot;  & &quot; </s>  & </s> <pad>  & <pad> <pad>  & &quot; </s>  & </s> <pad>
2: well ,  & the gra@@  & gra@@ ding  & ding r@@  & job job  & ating the  & the conversation  & with this  & this japanese  & the japanese  & woman ,  & ager ,  & , who  & took about  & about half  & about half  & half an  & , after  & he eventually  & eventually said  & finally said  & he finally  & finally said  & &quot; so  & so ,  & &quot; well  & well ,  & , wife  & wife y@@  & , do  & ang did  & you have  & have you  & you have  & have you  & you ask  & ask me  & me ?  & ? &quot;  & </s> <pad>  & </s> </s>
3: so after  & the case  & case of  & of r@@  & of the  & the conversation  & with the  & of the  & with the  & woman of  & japanese woman  & woman who  & , took  & that took  & a half  & a half  & hour and  & an hour  & he ultimately  & ultimately said  & he said  & said ,  & , &quot;  & like ,  & &quot; well  & , &quot;  & &quot; so  & so ,  & , woman  & woman y@@  & do you  & , have  & you ask  & did you  & you ask  & ask me  & me ?  & ? &quot;  & &quot; </s>  & ? </s>  & </s> ,
4: after the  & then after  & job of  & gra@@ ding  & ding the  & tion conversation  & conversation about  & conversation with  & japanese woman  & japanese ager  & of japanese  & ager for  & , that  & took a  & took about  & hour ,  & , he  & , and  & , he  & he said  & eventually said  & he eventually  & eventually said  & finally said  & &quot; here  & well ,  & like ,  & &quot; like  & , wife  & , you  & y@@ ang  & did you  & , did  & do you  & asking me  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & ? </s>  & me </s>  & </s> the
5: and after  & the after  & job job  & the job  & gra@@ tion  & ating with  & conversation to  & the japanese  & with a  & woman woman  & japanese man@@  & , who  & for about  & about half  & half a  & half hour  & hour he  & and he  & after he  & he finally  & , and  & , &quot;  & &quot; like  & &quot; well  & &quot; like  & &quot; like  & here ,  & well ,  & like ,  & wife y@@  & ang do  & ang ,  & , do  & have you  & ask ?  & you asking  & ? </s>  & ? </s>  & . &quot;  & . </s>  & </s> of
6: and then  & the job  & the gra@@  & job of  & r@@ ation  & ation conversation  & tion with  & about the  & about the  & japanese man  & woman ager  & japanese woman  & that was  & was half  & took a  & took half  & hour after  & , then  & hour ,  & finally he  & ultimately said  & , ultimately  & ultimately said  & finally ,  & said ,  & &quot; here  & &quot; well  & like ,  & , did  & did you  & you have  & , are  & , have  & you asking  & </s> <pad>  & asking me  & ask ?  & ask ?  & me ?  & &quot; <pad>  & </s> <unk>
7: now after  & when the  & job gra@@  & the gra@@  & job of  & of the  & conversation ,  & to the  & with this  & woman man@@  & woman man@@  & man@@ ager  & for a  & a half  & about a  & an an  & hours ,  & he said  & and he  & he eventually  & , after  & he ultimately  & he finally  & &quot; like  & well ,  & here ,  & , like  & so woman  & so woman  & , have  & have you  & do you  & are you  & are you  & have ask  & ask ?  & asking me  & me .  & , &quot;  & me <pad>  & </s> <s>
8: when the  & having the  & ing the  & of gra@@  & ding tion  & ating tion  & tion conversation  & , with  & to the  & woman japanese  & ager ,  & , that  & , for  & for half  & half hour  & for half  & , and  & and said  & , after  & finally ,  & he finally  & , finally  & finally ,  & was ,  & like ,  & like ,  & , this  & , like  & , do  & , does  & does you  & have you  & you have  & &quot; </s>  & you asking  & &quot; </s>  & </s> <pad>  & ask me  & ask ?  & ? <pad>  & </s> and
9: and ,  & at the  & job the  & ding of  & ding of  & ing conversation  & ment conversation  & , the  & japanese japanese  & a japanese  & man ,  & man who  & who was  & take half  & was half  & one half  & half hour  & hour and  & he end  & eventually he  & he eventually  & and he  & he was  & was like  & &quot; this  & so this  & &quot; like  & this ,  & , you  & do you  & , did  & , you  & , are  & asking me  & ? &quot;  & ? </s>  & you ask  & me &quot;  & me &quot;  & , </s>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: so , after  & , after the  & after the r@@  & the r@@ ating  & r@@ ating conversation  & ating conversation with  & conversation with the  & with the japanese  & the japanese man@@  & japanese man@@ ager  & man@@ ager that  & ager that took  & that took half  & took half an  & half an hour  & an hour ,  & hour , he  & , he finally  & he finally said  & finally said ,  & said , &quot;  & , &quot; like  & &quot; like ,  & like , &quot;  & , &quot; so  & &quot; so ,  & so , woman  & , woman y@@  & woman y@@ ang  & y@@ ang ,  & ang , did  & , did you  & did you ask  & you ask me  & ask me ?  & me ? &quot;  & ? &quot; </s>  & &quot; </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>
1: after the job  & the job of  & job of r@@  & of r@@ ating  & job job conversation  & job conversation with  & conversation with a  & with a japanese  & the japanese woman  & japanese woman woman  & man@@ ager who  & ager who took  & who took half  & took about half  & about half an  & half an hour  & an hour ,  & , he eventually  & he eventually said  & eventually said ,  & finally said ,  & said , &quot;  & , &quot; like  & &quot; like ,  & , &quot; well  & &quot; well ,  & so , wife  & , wife y@@  & wife y@@ ang  & y@@ ang did  & ang , do  & , do you  & do you ask  & you asking me  & asking me ?  & ? &quot; </s>  & &quot; </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & </s> <pad> <pad>
2: now , after  & after the job  & the job r@@  & job r@@ ating  & of the conversation  & ating conversation of  & conversation with this  & with this japanese  & a japanese man@@  & japanese woman ,  & woman woman who  & woman who took  & , took half  & who took half  & took half an  & an hour and  & hour , after  & , he ultimately  & he ultimately said  & ultimately said ,  & eventually said ,  & , ultimately said  & ultimately said ,  & said , &quot;  & , &quot; like  & &quot; like ,  & well , woman  & so , woman  & , woman y@@  & woman y@@ ang  & ang , are  & , are you  & are you asking  & ask me ?  & me ? &quot;  & ask me ?  & me ? &quot;  & ? &quot; </s>  & &quot; </s> <pad>  & &quot; </s> <pad>
3: well , after  & then after the  & case of r@@  & ding r@@ ating  & ding job conversation  & the conversation with  & conversation of the  & of the japanese  & a japanese woman  & japanese woman ager  & man@@ ager ,  & ager , took  & that took about  & about half an  & a half an  & half hour ,  & hour , and  & hour , he  & , he said  & he said ,  & said , ultimately  & he finally said  & finally said ,  & &quot; so ,  & like , &quot;  & , &quot; so  & well , wife  & so , wife  & , wife y@@  & y@@ ang do  & ang did you  & did you ask  & you ask me  & did you ask  & you ask me  & me ? </s>  & ? </s> <pad>  & <pad> <pad> <pad>  & ? &quot; </s>  & &quot; <pad> <pad>
4: so after the  & the case of  & gra@@ ding r@@  & the job job  & gra@@ tion conversation  & ating conversation about  & conversation about the  & about the japanese  & this japanese man@@  & japanese man ,  & man@@ ager for  & ager , who  & , who took  & was half an  & a half hour  & an an hour  & hour and he  & , after he  & , he finally  & he finally said  & , he finally  & , he said  & he said ,  & finally said ,  & , &quot; here  & &quot; here ,  & like , woman  & well , woman  & so woman y@@  & wife y@@ ang  & ang , have  & , have you  & have you ask  & you have ask  & have ask me  & asking me ?  & </s> <pad> <pad>  & ? </s> <pad>  & ? </s> <pad>  & me <pad> <pad>
5: and then after  & the gra@@ ding  & job job r@@  & job of the  & r@@ ation conversation  & ating conversation to  & conversation to the  & to the japanese  & this japanese woman  & the japanese woman  & woman , who  & ager for about  & who took about  & a half an  & took half hour  & a half hour  & an hour and  & , and he  & , he eventually  & he eventually said  & said , he  & he eventually said  & eventually said ,  & was like ,  & so , &quot;  & , &quot; well  & &quot; so ,  & like , woman  & , did you  & did you have  & y@@ ang ,  & ang , did  & , did you  & you ask ?  & ask ? &quot;  & ask ? &quot;  & me ? </s>  & me ? &quot;  & . &quot; </s>  & . </s> <pad>
6: and after the  & the job job  & after the job  & gra@@ ding job  & job of the  & tion conversation with  & conversation , the  & , the japanese  & the japanese man  & japanese ager ,  & woman ager who  & ager that was  & for about half  & took a half  & about half hour  & hour , and  & half hour ,  & and he finally  & after he said  & finally , he  & , he eventually  & , finally said  & , &quot; so  & , &quot; so  & said , &quot;  & , &quot; like  & here , woman  & well , wife  & , do you  & do you have  & ang do you  & ang , do  & do you have  & do you ask  & you asking me  & ? </s> <pad>  & ask me ?  & me ? </s>  & ? &quot; <pad>  & ? <pad> <pad>
7: after the case  & the after the  & the job of  & the gra@@ tion  & r@@ ating tion  & ating conversation ,  & conversation , with  & , with the  & with the japanese  & woman man@@ ager  & woman ager that  & , who took  & that was half  & that took half  & half an an  & about half hour  & , and he  & , he said  & he finally ,  & said , he  & said , finally  & and he said  & he finally said  & &quot; well ,  & &quot; so ,  & so , like  & here , wife  & so woman y@@  & like , you  & , you have  & ang , you  & do you ask  & , do you  & are you asking  & you ask ?  & you ask me  & asking me ?  & me . &quot;  & . &quot; <pad>  & , </s> <pad>
8: after the gra@@  & after the gra@@  & the gra@@ ding  & the r@@ ation  & r@@ ating the  & ation conversation with  & the conversation with  & conversation with the  & the japanese ager  & a japanese woman  & man , who  & ager for a  & for a half  & for half an  & about a half  & half hour and  & half hour and  & and he eventually  & and he finally  & said , and  & , and he  & he ultimately said  & he was like  & , &quot; well  & well , &quot;  & well , like  & like , wife  & like , wife  & like , did  & , did you  & you have you  & , you ask  & did you have  & have you ask  & have ask ?  & you asking me  & ask ? &quot;  & me &quot; </s>  & me ? </s>  & ? </s> <pad>
9: when the job  & the job gra@@  & job gra@@ ding  & of gra@@ tion  & ding the conversation  & of the conversation  & tion with the  & the japanese woman  & japanese woman man@@  & woman woman woman  & woman , that  & ager who was  & who was half  & took about a  & half hour ,  & an hour he  & hour , then  & and he ultimately  & and he said  & finally he said  & , he ultimately  & , he finally  & said , &quot;  & , &quot; like  & &quot; well ,  & like , &quot;  & &quot; well ,  & &quot; so woman  & like , do  & , do you  & did you have  & ang , are  & , are you  & have you asking  & me ? </s>  & ask ? </s>  & ask me .  & ask ? &quot;  & me ? <pad>  & me </s> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: so , after the  & , after the r@@  & after the r@@ ating  & the r@@ ating conversation  & r@@ ating conversation with  & ating conversation with the  & conversation with the japanese  & with the japanese man@@  & the japanese man@@ ager  & japanese man@@ ager that  & man@@ ager that took  & ager that took half  & that took half an  & took half an hour  & half an hour ,  & an hour , he  & hour , he finally  & , he finally said  & he finally said ,  & finally said , &quot;  & said , &quot; like  & , &quot; like ,  & &quot; like , &quot;  & like , &quot; so  & , &quot; so ,  & &quot; so , woman  & so , woman y@@  & , woman y@@ ang  & woman y@@ ang ,  & y@@ ang , did  & ang , did you  & , did you ask  & did you ask me  & you ask me ?  & ask me ? &quot;  & me ? &quot; </s>  & ? &quot; </s> <pad>  & &quot; </s> <pad> <pad>  & </s> <pad> <pad> <pad>
1: now , after the  & after the job r@@  & the job r@@ ating  & job r@@ ating conversation  & job job conversation with  & ating conversation with a  & conversation with a japanese  & with the japanese woman  & the japanese woman woman  & japanese man@@ ager who  & man@@ ager who took  & ager who took half  & who took half an  & took about half an  & about half an hour  & half an hour ,  & hour , he eventually  & , he eventually said  & he eventually said ,  & eventually said , &quot;  & said , he said  & , he said ,  & he said , &quot;  & like , &quot; well  & , &quot; well ,  & &quot; so , wife  & so , wife y@@  & , wife y@@ ang  & wife y@@ ang ,  & y@@ ang , do  & ang , do you  & , do you ask  & do you ask me  & you asking me ?  & asking me ? &quot;  & ? &quot; </s> <pad>  & &quot; </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
2: well , after the  & then after the r@@  & gra@@ ding r@@ ating  & ding r@@ ating conversation  & r@@ ating conversation of  & ating conversation with this  & conversation with this japanese  & with a japanese man@@  & a japanese man@@ ager  & japanese woman woman who  & woman woman who took  & woman who took half  & , took half an  & who took half an  & took half an hour  & an hour , after  & hour , he ultimately  & , he ultimately said  & he ultimately said ,  & finally said , he  & said , ultimately said  & , ultimately said ,  & ultimately said , &quot;  & said , &quot; so  & , &quot; like ,  & &quot; well , woman  & well , woman y@@  & so , woman y@@  & woman y@@ ang did  & y@@ ang , are  & ang , are you  & , are you asking  & are you asking me  & ask me ? &quot;  & me ? &quot; </s>  & ask me ? &quot;  & me ? &quot; </s>  & ? &quot; </s> <pad>  & &quot; </s> <pad> <pad>
3: so after the job  & the gra@@ ding r@@  & case of r@@ ating  & of r@@ ating conversation  & ding job conversation with  & job conversation with the  & conversation of the japanese  & with this japanese man@@  & this japanese man@@ ager  & japanese man@@ ager ,  & man@@ ager , took  & ager , took half  & that took about half  & about half an hour  & half an hour and  & an hour , and  & an hour , he  & hour , he said  & , he said ,  & ultimately said , &quot;  & finally said , &quot;  & said , &quot; like  & , &quot; like ,  & like , &quot; like  & , &quot; here ,  & &quot; well , wife  & well , wife y@@  & so , wife y@@  & wife y@@ ang did  & y@@ ang did you  & ang did you ask  & did you ask me  & you ask me ?  & you have ask me  & have ask me ?  & me ? </s> <pad>  & ? </s> <pad> <pad>  & <pad> <pad> <pad> <pad>  & ? &quot; </s> <pad>
4: and then after the  & the case of r@@  & job of r@@ ating  & the job job conversation  & r@@ ating conversation about  & ating conversation of the  & conversation about the japanese  & with this japanese woman  & this japanese woman woman  & japanese man@@ ager for  & man@@ ager , who  & ager that took about  & who took about half  & was half an hour  & took half hour ,  & an hour and he  & hour , after he  & hour , he finally  & , he finally said  & eventually said , he  & said , he finally  & , he finally said  & he finally said ,  & like , &quot; here  & like , &quot; so  & &quot; like , woman  & like , woman y@@  & well , woman y@@  & , woman y@@ ang  & y@@ ang , have  & ang , have you  & , have you ask  & have you ask me  & you ask ? &quot;  & ask ? &quot; </s>  & asking me ? &quot;  & </s> <pad> <pad> <pad>  & ? </s> <pad> <pad>  & me ? <pad> <pad>
5: and after the job  & the job of r@@  & job job r@@ ating  & gra@@ ding job conversation  & r@@ ating conversation to  & ating conversation about the  & conversation to the japanese  & with a japanese woman  & a japanese woman woman  & japanese woman ager who  & man@@ ager for about  & ager who took about  & , who took half  & a half an hour  & about half hour ,  & half hour , he  & hour , and he  & , after he said  & after he said ,  & he said , &quot;  & eventually said , &quot;  & said , &quot; so  & , &quot; so ,  & said , &quot; well  & said , &quot; so  & &quot; here , woman  & here , woman y@@  & well , wife y@@  & woman y@@ ang do  & y@@ ang , you  & ang , you ask  & , do you have  & do you have ask  & did you ask me  & you ask me ?  & ask ? &quot; </s>  & me ? </s> <pad>  & me . &quot; </s>  & ? &quot; <pad> <pad>
6: after the gra@@ ding  & the job job r@@  & after the job job  & job of the conversation  & r@@ ating conversation ,  & ating conversation to the  & conversation , the japanese  & of the japanese man@@  & the japanese woman ager  & japanese woman ager that  & man@@ ager that was  & ager , who took  & for about half an  & who took half hour  & half an an hour  & an an hour ,  & hour and he finally  & hour , he eventually  & , he eventually said  & finally said , ultimately  & said , finally said  & , finally said ,  & finally said , &quot;  & &quot; like , &quot;  & so , &quot; so  & &quot; here , wife  & here , wife y@@  & like , wife y@@  & wife y@@ ang do  & woman y@@ ang ,  & y@@ ang , did  & , you ask me  & did you have ask  & do you ask me  & ask me ? </s>  & ? </s> <pad> <pad>  & asking me ? &quot;  & me . &quot; <pad>  & me ? </s> <pad>
7: after the case of  & , after the job  & the gra@@ ding job  & the r@@ ation conversation  & of the conversation with  & ating conversation , the  & tion with the japanese  & about the japanese man@@  & the japanese woman ,  & japanese woman , who  & man@@ ager for a  & woman who took about  & that was half an  & took about half hour  & about a half hour  & a half hour ,  & hour and he eventually  & , and he said  & and he said ,  & he finally said ,  & , he finally said  & he finally said ,  & eventually said , &quot;  & said , &quot; like  & like , &quot; well  & , &quot; so ,  & &quot; so , woman  & &quot; so woman y@@  & , wife y@@ ang  & y@@ ang do you  & ang do you ask  & , did you have  & did you ask ?  & are you asking me  & you asking me ?  & ask me ? </s>  & asking me ? </s>  & me ? </s> <pad>  & . &quot; <pad> <pad>
8: after the job of  & after the gra@@ ding  & the job of the  & the r@@ ating tion  & r@@ ation conversation with  & the conversation with the  & conversation , with the  & of the japanese woman  & a japanese woman ,  & japanese man , who  & man@@ ager who was  & ager for about half  & for a half an  & took half an an  & took half hour and  & half hour , after  & hour and he ultimately  & , and he finally  & and he finally said  & ultimately said , he  & , he eventually said  & he eventually said ,  & he was like ,  & finally said , &quot;  & said , &quot; well  & &quot; like , wife  & like , wife y@@  & so woman y@@ ang  & so woman y@@ ang  & wife y@@ ang ,  & y@@ ang , do  & ang , did you  & , did you ask  & you have ask ?  & asking me ? </s>  & asking me ? </s>  & ask me ? </s>  & me ? &quot; </s>  & ? </s> <pad> <pad>
9: after the job job  & then after the job  & job gra@@ ding job  & the r@@ ating the  & gra@@ tion conversation with  & job conversation with a  & the conversation with the  & to the japanese man@@  & the japanese man ,  & japanese woman , that  & woman ager who took  & ager that was half  & who was half an  & took about a half  & about half hour and  & half hour , and  & half hour , he  & and he finally said  & he finally , he  & he eventually said ,  & , he ultimately said  & he ultimately said ,  & said , &quot; so  & said , &quot; here  & so , &quot; well  & , &quot; well ,  & &quot; so , wife  & like , woman y@@  & , did you have  & did you have you  & y@@ ang , are  & do you ask me  & do you ask ?  & ask me ? </s>  & have ask ? &quot;  & ask ? </s> <pad>  & ask me ? &quot;  & me ? &quot; <pad>  & . &quot; </s> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: so , after the r@@ ating conversation with the japanese man@@ ager who took half an hour , he finally said , he said , &quot; so , woman y@@ ang , did you ask me ? &quot; </s> <pad> <pad> <pad>
