==================================================Unigram Constraints (Iteration 1)==================================================
0: and  & so  & ,  & as  & as  & as  & not  & not  & not  & not  & not  & not  & have  & have  & have  & amo@@  & of  & of  & of  & in  & in  & in  & acts  & ,  & ,  & ,  & but  & data  & data  & data  & that  & that  & looks  & looks  & like  & like  & ,  & ,  & ,  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: so  & that  & as  & ,  & ,  & not  & as  & as  & as  & as  & as  & have  & not  & not  & amo@@  & of  & amo@@  & amo@@  & paper  & paper  & the  & acts  & ,  & acts  & but  & but  & a  & a  & a  & that  & data  & going  & going  & like  & looks  & something  & this  & this  & this  & this  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: that  & for  & we  & we  & on@@  & going  & to  & to  & to  & on@@  & to  & to  & to  & to  & a  & mas@@  & amount  & amount  & in  & of  & acts  & the  & the  & but  & acts  & a  & ,  & ,  & that  & a  & going  & data  & like  & going  & something  & looks  & like  & where  & where  & ,  & this  & this  & of  & of  & of  & of  & ,
3: this  & in  & what  & &apos;re  & we  & to  & going  & have  & have  & to  & on@@  & we  & &apos;t  & &apos;t  & of  & a  & lot  & paper  & the  & the  & paper  & ,  & fil@@  & ak@@  & it  & it  & data  & but  & ,  & going  & a  & looks  & that  & that  & look  & ,  & where  & that  & with  & of  & ,  & of  & this  & g@@  & g@@  & g@@  & and
4: in  & this  & you  & you  & an  & ,  & have  & ,  & an  & an  & have  & ,  & we  & we  & to  & amount  & unts  & lot  & amount  & she@@  & of  & fil@@  & in  & fil@@  & a  & data  & &apos;s  & &apos;s  & going  & ,  & to  & to  & to  & to  & that  & this  & something  & of  & of  & drop  & of  & ,  & g@@  & this  & gi@@  & gab@@  & to
5: now  & as  & again  & not  & not  & we  & ,  & going  & ,  & have  & ,  & &apos;t  & ,  & a  & an  & lot  & a  & unts  & amo@@  & into  & into  & ak@@  & ak@@  & the  & we  & &apos;s  & it  & that  & flow  & flow  & looks  & like  & will  & look  & ,  & look  & looks  & like  & that  & where  & drop  & that  & that  & gen@@  & gen@@  & gen@@  & <s>
6: but  & ,  & the  & will  & a  & &apos;re  & we  & an  & going  & ,  & we  & a  & a  & ,  & mas@@  & unts  & mas@@  & in  & she@@  & acts  & she@@  & ts  & ts  & recor@@  & ak@@  & we  & we  & to  & &apos;s  & to  & ,  & will  & data  & will  & this  & that  & look  & with  & when  & that  & that  & drop  & ,  & that  & gab@@  & gi@@  & <unk>
7: the  & we  & is  & what  & going  & &apos;t  & &apos;t  & a  & on@@  & a  & an  & going  & don  & don  & un@@  & an  & mass  & the  & ts  & ts  & ts  & recor@@  & recor@@  & ts  & the  & there  & have  & it  & to  & &apos;s  & like  & a  & look  & something  & to  & kind  & that  & which  & which  & blo@@  & blo@@  & blo@@  & blo@@  & blood  & giving  & giving  & the
8: here  & here  & this  & the  & you  & you  & an  & &apos;t  & a  & going  & &apos;t  & don  & going  & going  & lot  & ses  & ses  & a  & lot  & ,  & ,  & ac@@  & but  & ac@@  & fil@@  & have  & to  & going  & of  & stream  & will  & ,  & a  & a  & kind  & a  & what  & the  & the  & with  & when  & g@@  & drop  & gi@@  & blood  & blood  & of
9: well  & the  & so  & going  & &apos;re  & an  & a  & we  & &apos;t  & we  & a  & as  & will  & no  & ses  & mass  & and  & ts  & a  & ents  & fil@@  & into  & ac@@  & ds  & data  & is  & is  & of  & flo@@  & flo@@  & flow  & &apos;s  & be  & kind  & will  & what  & a  & a  & one  & when  & the  & will  & gen@@  & giving  & ts  & ts  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: and so  & so we  & we &apos;re  & &apos;re not  & not going  & going to  & to have  & have ,  & , we  & we ,  & , we  & we will  & will not  & not have  & have an  & an amo@@  & amo@@ unts  & unts of  & of paper  & paper in  & in the  & the recor@@  & recor@@ ds  & ds ,  & , but  & but a  & a data  & data that  & that &apos;s  & &apos;s going  & going to  & to look  & look something  & something like  & like ,  & , where  & where this  & this ,  & , </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>
1: and this  & so ,  & , we  & we &apos;re  & &apos;re not  & not going  & going to  & to have  & have ,  & , we  & we not  & we don  & don &apos;t  & &apos;t have  & an amo@@  & amo@@ unts  & unts of  & of paper  & paper ,  & paper into  & into the  & acts ,  & , but  & but it  & , we  & but it  & it &apos;s  & &apos;s a  & a data  & data that  & that &apos;s  & &apos;s going  & going to  & to look  & look something  & something like  & like ,  & , where  & , where  & where </s>  & </s> <pad>  & drop <pad>  & </s> <pad>  & blood <pad>  & </s> <pad>  & </s> <pad>
2: so ,  & so what  & what we  & will not  & &apos;re going  & &apos;re not  & not going  & to ,  & to have  & have ,  & we don  & not going  & going to  & to have  & have a  & a lot  & lot of  & paper of  & paper in  & , in  & the acts  & the acts  & acts ,  & but we  & , it  & we have  & have a  & a data  & data stream  & stream that  & that will  & will look  & be something  & will look  & like this  & this ,  & where that  & that ,  & where </s>  & where <pad>  & this <pad>  & </s> <pad>  & of blood  & </s> <pad>  & g@@ </s>  & </s> </s>
3: and in  & so again  & we will  & what we  & we &apos;re  & to not  & to not  & going to  & going to  & to have  & have not  & don &apos;t  & &apos;t have  & have an  & have mas@@  & mas@@ ses  & ses of  & of of  & in paper  & in the  & the ak@@  & ak@@ ts  & ts ,  & , we  & it &apos;s  & it &apos;s  & have data  & data flow  & data flow  & flow that  & a data  & to be  & that will  & that will  & like that  & that ,  & , where  & where this  & , with  & with <pad>  & , <pad>  & , <pad>  & of <pad>  & blood </s>  & blood <pad>  & </s> ,
4: so as  & so as  & , what  & as you  & you &apos;re  & not to  & , we  & not going  & not have  & we not  & not going  & going to  & to have  & have un@@  & un@@ mas@@  & ses of  & of paper  & paper in  & paper paper  & in in  & the recor@@  & the ak@@  & ak@@ ts  & but a  & we have  & &apos;s a  & &apos;s a  & &apos;s going  & data that  & &apos;s a  & looks a  & data that  & data that  & a look  & will look  & look something  & something like  & this where  & where this  & this <pad>  & this drop  & drop </s>  & of </s>  & blood g@@  & g@@ <pad>  & </s> the
5: and here  & so you  & , as  & , we  & going to  & to ,  & not have  & we ,  & not going  & we have  & we ,  & we going  & will have  & have mas@@  & mas@@ ses  & lot of  & amount of  & amount of  & paper into  & into the  & the ac@@  & recor@@ acts  & ac@@ ts  & ds but  & , there  & have a  & , but  & but a  & a flow  & that looks  & flow that  & a data  & look a  & look something  & look like  & something ,  & , with  & , with  & this ,  & where this  & that drop  & drop of  & drop <pad>  & g@@ </s>  & blood </s>  & </s> of
6: and that  & this is  & we ,  & &apos;re going  & , we  & &apos;re going  & have not  & to not  & have not  & , ,  & to not  & , we  & we not  & have a  & a lot  & mass amo@@  & of amount  & lot of  & in the  & the fil@@  & the fil@@  & ac@@ ts  & fil@@ ds  & ts ,  & a data  & but have  & &apos;s going  & going to  & flow that  & data going  & looks like  & that will  & will look  & like this  & something like  & like ,  & like where  & like ,  & with this  & this ,  & this </s>  & , </s>  & , <pad>  & of </s>  & gi@@ <pad>  & </s> <unk>
7: and as  & , you  & again ,  & you &apos;re  & not to  & to have  & have ,  & have not  & have to  & going to  & , not  & we ,  & , we  & we have  & an an  & a amo@@  & and amount  & of a  & in ,  & , into  & fil@@ acts  & fil@@ acts  & recor@@ acts  & ds it  & , have  & there &apos;s  & data that  & that &apos;s  & going to  & data flow  & data that  & data going  & look like  & to something  & this ,  & kind ,  & that ,  & with this  & , when  & , <pad>  & this ,  & blo@@ </s>  & drop </s>  & of <pad>  & gen@@ <pad>  & </s> <s>
8: and for  & in this  & as you  & we not  & we not  & we not  & not to  & have to  & to ,  & to ,  & we going  & not have  & will &apos;t  & have amo@@  & have mass  & an amount  & and unts  & a lot  & a paper  & paper ,  & , the  & fil@@ recor@@  & fil@@ acts  & , but  & but we  & data ,  & is going  & a flow  & data ,  & to a  & , that  & to looks  & looks something  & looks something  & look kind  & , that  & something ,  & , which  & where that  & with this  & drop <pad>  & blo@@ <pad>  & of g@@  & of blood  & of </s>  & </s> and
9: so this  & as you  & you &apos;re  & as we  & , not  & going not  & to ,  & not have  & , ,  & not have  & as not  & we not  & have not  & a lot  & a mass  & ses and  & of unts  & of the  & lot of  & the in  & fil@@ ts  & recor@@ ts  & recor@@ ts  & ds we  & but a  & we ,  & have but  & data going  & that data  & , that  & flow going  & will be  & that looks  & something something  & looks something  & , this  & where ,  & that when  & which </s>  & when <pad>  & , </s>  & will <pad>  & this <pad>  & blood gi@@  & of <pad>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: and so ,  & so , what  & , what we  & what we &apos;re  & we &apos;re not  & &apos;re not going  & not going to  & going to have  & to have ,  & have , we  & , we will  & we will not  & will not have  & not have an  & have an amo@@  & an amo@@ unts  & amo@@ unts of  & unts of paper  & of paper in  & paper in the  & in the recor@@  & the recor@@ ds  & recor@@ ds ,  & ds , we  & , we have  & we have a  & have a data  & a data stream  & data stream that  & stream that &apos;s  & that &apos;s going  & &apos;s going to  & going to look  & to look something  & look something like  & something like ,  & like , where  & , where </s>  & where </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>
1: and so again  & so again ,  & again , we  & , we &apos;re  & you &apos;re not  & going to have  & to have ,  & have , we  & , we ,  & we , we  & , we don  & we don &apos;t  & don &apos;t have  & &apos;t have an  & mas@@ ses of  & ses of paper  & of paper of  & paper of paper  & of paper into  & paper into the  & into the recor@@  & ak@@ ts ,  & ts , but  & ds , it  & , it &apos;s  & it &apos;s a  & &apos;s a data  & a data flow  & data flow that  & flow that &apos;s  & that will look  & will look something  & look something like  & something like this  & like this ,  & this , with  & , with this  & , where this  & where this <pad>  & this <pad> <pad>  & </s> <pad> <pad>  & drop <pad> <pad>  & </s> <pad> <pad>  & blood <pad> <pad>  & </s> <pad> <pad>
2: and so we  & so , as  & , as you  & as you &apos;re  & not going to  & not going to  & going to have  & to have ,  & have , we  & , we not  & we not going  & not going to  & going to have  & to have an  & an amo@@ unts  & amo@@ unts of  & unts of paper  & of paper in  & paper in the  & in the ak@@  & the ak@@ ts  & recor@@ acts ,  & acts , but  & ds , there  & , there &apos;s  & there &apos;s a  & it &apos;s a  & &apos;s a data  & a data that  & data that &apos;s  & flow that will  & will look a  & look a look  & something like that  & like that ,  & that , with  & like , which  & with this ,  & this , <pad>  & , <pad> <pad>  & , <pad> <pad>  & </s> <pad> <pad>  & of blood <pad>  & blood </s> <pad>  & g@@ </s> <pad>
3: and so what  & so we &apos;re  & we &apos;re not  & &apos;re not going  & &apos;re not going  & &apos;re going to  & going to ,  & to , we  & have , ,  & , we don  & we don &apos;t  & don &apos;t have  & &apos;t have mas@@  & have mas@@ ses  & a lot of  & lot of paper  & of amount of  & amount of paper  & paper , in  & in the recor@@  & the recor@@ acts  & the acts ,  & recor@@ ds but  & ds , but  & , but it  & but it &apos;s  & have but a  & &apos;s a flow  & a flow that  & stream that will  & looks a data  & that will look  & will look something  & to look like  & look like ,  & like , with  & like , with  & , which </s>  & which </s> <pad>  & where <pad> <pad>  & this drop <pad>  & drop </s> <pad>  & of blood </s>  & </s> <pad> <pad>  & g@@ <pad> <pad>
4: and so you  & so what we  & what we &apos;re  & we &apos;re not  & &apos;re going to  & to not going  & going to not  & to not have  & not have ,  & , , we  & , we going  & we going to  & &apos;t have an  & have an amo@@  & an an amo@@  & ses of amount  & ses of paper  & of paper ,  & paper in in  & in the fil@@  & in the acts  & fil@@ acts ,  & ak@@ ts ,  & , but we  & , but have  & but have a  & a data flow  & but a data  & a data flow  & flow that will  & going to look  & a data that  & data that will  & a look something  & something like ,  & look something like  & something like ,  & , with this  & with this <pad>  & where </s> <pad>  & , </s> <pad>  & drop of blood  & of </s> <pad>  & blood g@@ </s>  & gi@@ <pad> <pad>
5: and so as  & so , we  & , as we  & as we &apos;re  & we &apos;re going  & to have not  & to have to  & going to ,  & to , we  & have , not  & , not going  & , we not  & &apos;t have a  & have a lot  & have mass amo@@  & mass amo@@ unts  & and unts of  & of of paper  & paper paper in  & in the ac@@  & the fil@@ acts  & recor@@ ts ,  & recor@@ ts ,  & ds but we  & but we have  & we have but  & a data that  & data flow that  & flow that looks  & data that will  & that will be  & to look something  & be something like  & look something like  & will look something  & kind , with  & , where this  & like , where  & , where <pad>  & this , <pad>  & this drop </s>  & drop of </s>  & of <pad> <pad>  & blood g@@ <pad>  & of </s> <pad>
6: and as you  & so we ,  & , we &apos;re  & we &apos;re going  & you &apos;re going  & to not have  & have not going  & to have to  & have to ,  & , we ,  & we , we  & we will have  & we not have  & have an an  & un@@ mas@@ ses  & mas@@ ses of  & of unts of  & of paper paper  & a paper in  & , in the  & the recor@@ ts  & ac@@ ts ,  & , but we  & ts , we  & , but a  & but a data  & , but a  & data that &apos;s  & that &apos;s going  & data flow that  & going to be  & will be something  & look like this  & that will look  & look kind ,  & this , where  & that , where  & like , </s>  & , where </s>  & with <pad> <pad>  & this drop of  & drop of <pad>  & of blood g@@  & g@@ </s> <pad>  & of <pad> <pad>
7: so as you  & so you &apos;re  & we , we  & you &apos;re not  & going to not  & going to not  & to have not  & have to have  & to , ,  & to , we  & have not going  & we will &apos;t  & &apos;t have un@@  & not have mass  & have a amo@@  & lot of amount  & unts of of  & of a paper  & paper into the  & in in the  & the ac@@ ts  & fil@@ recor@@ ds  & , but it  & ts , it  & , we ,  & we , but  & have data that  & a data ,  & data , that  & that looks a  & a data that  & will look like  & look something something  & to look kind  & like , that  & , that ,  & something , where  & where this ,  & , </s> <pad>  & where this drop  & this <pad> <pad>  & drop of g@@  & of g@@ </s>  & blood gi@@ <pad>  & gen@@ <pad> <pad>
8: so , you  & so as you  & you &apos;re not  & you &apos;re going  & going to have  & going not going  & not have ,  & not going to  & , we have  & we , not  & we going to  & going to have  & will have un@@  & &apos;t have mass  & have mas@@ ses  & a amo@@ unts  & lot of paper  & of paper into  & in , in  & into the ak@@  & the fil@@ recor@@  & the ak@@ ts  & , but a  & ts , but  & we have a  & we have data  & it &apos;s going  & but a flow  & a data going  & &apos;s going to  & going to looks  & to be something  & that will look  & something like ,  & look something ,  & something , with  & where , where  & like , with  & with this ,  & this , </s>  & this </s> <pad>  & , <pad> <pad>  & of blood gi@@  & of </s> <pad>  & blood <pad> <pad>
9: and this is  & as you &apos;re  & as you &apos;re  & we not going  & &apos;re going not  & not to have  & to not going  & have , ,  & going to ,  & we have not  & not going to  & we , we  & will &apos;t have  & have un@@ mas@@  & mas@@ ses and  & ses and unts  & and amount of  & paper in ,  & in the in  & the in the  & in the ak@@  & the recor@@ ts  & ts , we  & ts , there  & it &apos;s a  & but have data  & have data flow  & &apos;s going to  & that &apos;s a  & , that &apos;s  & a data going  & to look a  & looks something like  & like this ,  & like , where  & look something ,  & where this ,  & like , when  & , with <pad>  & with this drop  & this , <pad>  & , </s> <pad>  & drop <pad> <pad>  & of <pad> <pad>  & blood </s> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: and so we &apos;re  & so we &apos;re not  & we &apos;re not going  & &apos;re not going to  & not going to have  & going to have ,  & to have , we  & have , we ,  & , we , we  & we , we will  & , we will not  & we will not have  & will not have an  & not have an amo@@  & have an amo@@ unts  & an amo@@ unts of  & amo@@ unts of paper  & unts of paper in  & of paper in the  & paper in the recor@@  & in the recor@@ ds  & the recor@@ ds ,  & recor@@ ds , we  & ds , we have  & , we have a  & we have a data  & have a data flow  & a data flow that  & data flow that &apos;s  & flow that &apos;s going  & that &apos;s going to  & &apos;s going to look  & going to look something  & to look something like  & look something like ,  & something like , where  & like , where </s>  & , where </s> <pad>  & where </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
1: and so again ,  & so again , we  & again , we &apos;re  & , we &apos;re not  & we &apos;re not going  & &apos;re not going to  & not going to have  & going to have ,  & to have , we  & we , we don  & , we don &apos;t  & we don &apos;t have  & don &apos;t have an  & &apos;t have an amo@@  & have mass amo@@ unts  & mass amo@@ unts of  & unts of paper ,  & unts of paper into  & of paper into the  & paper into the recor@@  & into the recor@@ ds  & the acts , but  & recor@@ ds , it  & ds , it &apos;s  & , it &apos;s a  & it &apos;s a data  & have a data stream  & a data stream that  & data stream that &apos;s  & stream that &apos;s going  & that will look a  & will look a look  & look a look something  & a look something like  & like , that ,  & something like , which  & like , where this  & , where this <pad>  & where this <pad> <pad>  & this <pad> <pad> <pad>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>  & of blood <pad> <pad>  & blood </s> <pad> <pad>
2: and so what we  & so what we &apos;re  & what we &apos;re going  & we &apos;re going to  & &apos;re going to have  & going not going to  & going to have ,  & to have , we  & have , we don  & have , we don  & we don &apos;t have  & don &apos;t have an  & don &apos;t have mass  & &apos;t have mass amo@@  & an amo@@ unts of  & amo@@ unts of paper  & ses of paper ,  & of paper , in  & paper , in the  & paper in the acts  & in the acts ,  & recor@@ acts , but  & recor@@ ds , there  & ds , there &apos;s  & , there &apos;s a  & there &apos;s a data  & &apos;s a data flow  & &apos;s a data that  & a data that &apos;s  & data that &apos;s going  & that will look something  & will look something like  & look something like ,  & something like , that  & will look something like  & something like , with  & like , which </s>  & , which </s> <pad>  & which </s> <pad> <pad>  & where </s> <pad> <pad>  & , <pad> <pad> <pad>  & drop <pad> <pad> <pad>  & of </s> <pad> <pad>  & blood g@@ </s> <pad>
3: and so , what  & so , what we  & , what we &apos;re  & what we &apos;re not  & you &apos;re not going  & not going to have  & going to , we  & to , we ,  & have , we not  & have , we will  & we not going to  & not going to have  & will not have mass  & not have mass amo@@  & un@@ mas@@ ses of  & mas@@ ses of paper  & unts of paper in  & of paper in the  & paper in the recor@@  & , in the recor@@  & the recor@@ acts ,  & ak@@ ts , but  & recor@@ ds , but  & ds , but have  & , but have a  & but have a data  & &apos;s a data stream  & &apos;s a flow that  & a flow that &apos;s  & flow that will look  & looks a data that  & a data that will  & data that will look  & that will look something  & like this , with  & , that , where  & like , with this  & , with this <pad>  & with this <pad> <pad>  & where <pad> <pad> <pad>  & , </s> <pad> <pad>  & drop </s> <pad> <pad>  & of blood g@@ <pad>  & blood gi@@ <pad> <pad>
4: and so , as  & so , as you  & , as you &apos;re  & as you &apos;re not  & &apos;re going not going  & not going to ,  & to have to have  & have , we have  & , we , not  & , we don &apos;t  & , we going to  & we going to have  & &apos;t have an amo@@  & have an amo@@ unts  & mas@@ ses of paper  & ses of paper of  & of paper of paper  & paper of paper in  & paper in the ak@@  & in the recor@@ acts  & the ak@@ ts ,  & the recor@@ ds but  & acts , but we  & ds , but it  & , but it &apos;s  & but it &apos;s a  & it &apos;s a data  & a data , that  & data flow that will  & stream that will look  & flow that will look  & that will look something  & look something like this  & something like this ,  & like this , where  & look something like ,  & that , where </s>  & like , </s> <pad>  & , </s> <pad> <pad>  & , <pad> <pad> <pad>  & this drop of </s>  & drop of </s> <pad>  & of g@@ </s> <pad>  & of </s> <pad> <pad>
5: and so you &apos;re  & so , as we  & , as we &apos;re  & as we &apos;re not  & &apos;re not going to  & &apos;re going to ,  & going to not have  & have to have ,  & have , we ,  & , we not going  & , we will have  & we will have un@@  & going to have an  & to have an amo@@  & a lot of paper  & lot of paper of  & of amount of paper  & amount of paper in  & paper in the fil@@  & in the ak@@ ts  & the fil@@ acts ,  & fil@@ acts , but  & ts , but we  & , but we have  & but we have a  & but a data flow  & it &apos;s a flow  & data flow that looks  & data stream that will  & , that &apos;s going  & going to look a  & to look a look  & look something like that  & something like that ,  & like that , with  & this , with this  & something like , </s>  & like , where </s>  & , where </s> <pad>  & this , <pad> <pad>  & this drop of blood  & drop of <pad> <pad>  & </s> <pad> <pad> <pad>  & blood <pad> <pad> <pad>
6: and so we ,  & so you &apos;re not  & you &apos;re not going  & we &apos;re going not  & we &apos;re going to  & going to have to  & going to have to  & to not have ,  & , we have not  & we , we going  & , not going to  & , we not have  & will have un@@ mas@@  & have un@@ mas@@ ses  & a lot of amount  & lot of amount of  & ses of paper in  & of paper in in  & paper in the ac@@  & in the fil@@ acts  & in the ak@@ ts  & the ak@@ ts ,  & recor@@ ds but we  & ds but we have  & , but a data  & we have but a  & have a data ,  & but a data that  & data , that &apos;s  & that looks a data  & going to look something  & to look something like  & will look something like  & look something like ,  & something like , with  & this , where this  & something like , where  & like , where <pad>  & , where <pad> <pad>  & with <pad> <pad> <pad>  & this drop of <pad>  & drop of blood gi@@  & of blood </s> <pad>  & </s> <pad> <pad> <pad>
7: and so , we  & so we , we  & we , we &apos;re  & we &apos;re not going  & you &apos;re going to  & &apos;re going to not  & not going to ,  & to have , ,  & not have , we  & we , not going  & we , we not  & don &apos;t have mas@@  & we not have an  & have mas@@ ses of  & mas@@ ses of amount  & ses of amount of  & and unts of paper  & of paper paper in  & paper in in the  & paper in the ak@@  & the recor@@ ts ,  & recor@@ ts , but  & ak@@ ts , we  & ts , we have  & , we have but  & we , but a  & a data flow that  & but a flow that  & flow that looks a  & data flow that will  & that will be something  & will be something like  & going to look like  & to look like ,  & look like , with  & that , with this  & , with this ,  & with this , <pad>  & this , <pad> <pad>  & this , </s> <pad>  & this drop of g@@  & drop of blood g@@  & of blood g@@ </s>  & g@@ </s> <pad> <pad>
8: and so as you  & so , we &apos;re  & , we &apos;re going  & what we &apos;re going  & &apos;re going to not  & &apos;re going to have  & to not going to  & to have to ,  & have , , we  & , we , we  & have not going to  & don &apos;t have un@@  & &apos;t have mas@@ ses  & have a lot of  & mas@@ ses and unts  & ses and unts of  & unts of paper paper  & of of paper in  & paper paper in the  & in the recor@@ ts  & the fil@@ recor@@ ds  & fil@@ recor@@ ds ,  & recor@@ ts , we  & ts , it &apos;s  & , we , but  & but a data that  & have but a data  & &apos;s a data flow  & a data flow that  & &apos;s going to look  & going to be something  & to be something like  & be something like this  & to look something ,  & will look something ,  & like , with this  & , where this ,  & where this , <pad>  & with this , <pad>  & where this drop <pad>  & this drop <pad> <pad>  & drop of blood <pad>  & of blood gi@@ <pad>  & of <pad> <pad> <pad>
9: and as you &apos;re  & so as you &apos;re  & , we &apos;re not  & you &apos;re going to  & not going to not  & going to not going  & to have , ,  & going to , we  & to have , not  & have , we going  & , we will &apos;t  & don &apos;t have a  & &apos;t have un@@ mas@@  & have mas@@ ses and  & an an amo@@ unts  & amo@@ unts of of  & unts of of paper  & of paper into the  & paper into the ak@@  & in the fil@@ recor@@  & the ac@@ ts ,  & ac@@ ts , but  & ak@@ ts , it  & ts , there &apos;s  & , we have data  & we have data that  & , but a data  & data that &apos;s going  & that &apos;s going to  & data that will look  & that will look like  & will look something something  & going to look kind  & to look kind ,  & look something , with  & look something , where  & something like , with  & , with this ,  & , with <pad> <pad>  & where this drop </s>  & this drop </s> <pad>  & drop of blood </s>  & of <pad> <pad> <pad>  & blood g@@ <pad> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: and so what we &apos;re going to have , we , we will not have an amo@@ unts of paper in the recor@@ ds , we have a data stream that &apos;s going to look something like , where </s> <pad> <pad> <pad> <pad> <pad> <pad> <pad>
