==================================================Unigram Constraints (Iteration 1)==================================================
0: jim  & coll@@  & ins  & ,  & auth@@  & auth@@  & auth@@  & from  & &quot;  & to  & to  & to  & best  & best  & ,  & told  & told  & that  & successful  & successful  & organizations  & organizations  & of  & of  & of  & of  & things  & things  & together  & together  & together  & :  & keep  & keep  & keep  & ,  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: john  & kra@@  & in  & the  & the  & or  & from  & &quot;  & the  & the  & the  & the  & the  & ,  & told  & ,  & me  & told  & that  & that  & successful  & of  & all  & all  & all  & two  & two  & together  & things  & things  & :  & together  & preser@@  & preser@@  & preser@@  & they  & pro@@  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: mr.  & re@@  & ine  & --  & writer  & writer  & or  & the  & from  & path  & best  & best  & ,  & the  & &quot;  & me  & that  & me  & the  & organizations  & of  & all  & organizations  & organizations  & two  & things  & of  & two  & in  & :  & things  & they  & save  & save  & ,  & keep  & they  & pro@@  & pro@@  & pro@@  & pro@@  & pro@@  & progress  & ,
3: james  & ach@@  & im  & who  & or  & from  & the  & of  & to  & &quot;  & way  & ,  & to  & &quot;  & me  & &quot;  & ,  & successful  & ,  & the  & all  & organization  & have  & have  & things  & all  & together  & of  & have  & in  & they  & keep  & they  & ves  & ves  & ves  & ,  & they  & they  & progress  & progress  & progress  & pro@@  & and
4: paul  & hol@@  & v@@  & .  & &quot;  & the  & of  & auth@@  & ,  & way  & path  & way  & &quot;  & one  & to  & said  & i  & the  & success  & all  & organization  & have  & two  & two  & have  & have  & have  & in  & :  & have  & in  & things  & :  & main@@  & they  & pro@@  & ves  & ,  & ,  & they  & .  & .  & .  & to
5: now  & inst@@  & es  & :  & from  & of  & &quot;  & or  & &apos;s  & road  & line  & of  & of  & to  & the  & tells  & to  & ,  & me  & of  & the  & the  & organization  & things  & the  & together  & all  & have  & two  & ,  & have  & preser@@  & main@@  & they  & save  & the  & keep  & them  & progress  & ,  & they  & the  & the  & <s>
6: steve  & cover  & ines  & or  & ,  & ,  & ,  & ,  & of  & from  & of  & top  & top  & of  & telling  & that  & said  & i  & told  & ,  & have  & successful  & the  & the  & kinds  & kinds  & in  & :  & of  & two  & ,  & ,  & ve  & ,  & the  & them  & them  & ves  & them  & .  & the  & they  & they  & <unk>
7: microsoft  & labor@@  & case  & in  & director  & &apos;s  & writer  & &apos;s  & path  & rou@@  & ,  & line  & one  & i  & best  & to  & tell  & said  & is  & have  & institutions  & two  & things  & everything  & together  & the  & these  & ,  & ,  & they  & are  & in  & ves  & ve  & main@@  & save  & the  & it  & the  & the  & ,  & ,  & ,  & the
8: jo@@  & gay  & ,  & and  & wri@@  & &quot;  & &apos;s  & to  & auth@@  & ,  & toward  & &quot;  & line  & line  & said  & i  & the  & was  & was  & has  & ,  & institutions  & everything  & kinds  & these  & these  & different  & these  & common  & common  & both  & save  & protect  & protect  & kee@@  & main@@  & it  & the  & it  & them  & them  & them  & them  & of
9: joe  & wis@@  & &apos;s  & &quot;  & head  & ator  & ter  & &apos;  & road  & line  & out  & most  & way  & thing  & tells  & tell  & tells  & is  & succe@@  & success  & that  & ,  & ,  & together  & different  & different  & the  & all  & these  & of  & two  & ve  & kee@@  & kee@@  & ve  & main  & ;  & keep  & .  & it  & it  & it  & it  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: jim coll@@  & coll@@ ins  & ins ,  & , the  & the auth@@  & auth@@ or  & or of  & of &quot;  & &quot; the  & the way  & way to  & to the  & the best  & best ,  & , &quot;  & &quot; told  & told me  & me that  & that successful  & successful organizations  & organizations of  & of all  & all kinds  & kinds of  & of all  & all two  & two things  & things in  & in common  & common :  & : they  & they preser@@  & preser@@ ve  & ve ,  & , they  & they keep  & keep the  & the progress  & progress .  & . </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>
1: john coll@@  & coll@@ in  & ins --  & , auth@@  & auth@@ or  & or of  & of &quot;  & &quot; to  & to the  & the path  & path to  & the best  & best ,  & , &quot;  & &quot; told  & told me  & me that  & that successful  & successful organizations  & organizations of  & of all  & all of  & all two  & two things  & of these  & these two  & different things  & have in  & common :  & : they  & they preser@@  & preser@@ ve  & ve ,  & ve the  & the main  & main ves  & ves the  & them .  & . </s>  & </s> <pad>  & <pad> <pad>  & </s> <pad>  & </s> <pad>
2: mr. coll@@  & coll@@ ine  & ins the  & , &quot;  & &quot; auth@@  & or from  & or from  & of the  & the way  & the best  & best to  & best ,  & , &quot;  & &quot; told  & told me  & me ,  & , told  & told me  & that the  & the successful  & successful organizations  & all the  & all the  & the kinds  & things have  & have two  & things have  & in common  & common things  & things together  & together :  & : they  & they preser@@  & , they  & they keep  & keep them  & them the  & it .  & the progress  & progress .  & . </s>  & . </s>  & </s> </s>
3: james coll@@  & coll@@ im  & in ,  & -- the  & the writer  & writer of  & from &quot;  & &quot; the  & the path  & way to  & to the  & of the  & to the  & the best  & best ,  & , told  & that the  & that the  & me that  & that successful  & of the  & all two  & of all  & all kinds  & of two  & all different  & things in  & two things  & common together  & together :  & things together  & together :  & preser@@ ves  & preser@@ ve  & ve ,  & main ,  & keep them  & them progress  & it .  & <pad> <pad>  & progress .  & progress </s>  & </s> ,
4: paul coll@@  & coll@@ ines  & ine ,  & the auth@@  & &quot; the  & the auth@@  & auth@@ or  & from &quot;  & &quot; to  & the line  & line to  & way to  & best one  & one ,  & best &quot;  & me that  & tells me  & the successful  & the successful  & success organizations  & organization of  & of the  & the kinds  & things have  & of the  & two things  & these things  & have two  & things together  & common things  & things :  & they keep  & : they  & ves ,  & ve them  & , they  & , it  & it progress  & it progress  & the progress  & it .  & . <pad>  & </s> the
5: steve coll@@  & coll@@ case  & ins :  & , or  & or of  & of &quot;  & of the  & &quot; from  & &quot; road  & path to  & the best  & best to  & of the  & , ,  & , told  & &quot; tells  & i told  & me the  & that success  & successful organization  & of two  & organizations of  & two things  & two kinds  & kinds of  & the two  & of two  & things have  & two things  & things :  & , they  & preser@@ ves  & they keep  & they keep  & keep them  & they pro@@  & , the  & keep progress  & <pad> <pad>  & it .  & them .  & it </s>  & </s> of
6: microsoft coll@@  & coll@@ es  & ins .  & , writer  & writer of  & writer from  & or ,  & or of  & &quot; path  & to the  & best of  & line to  & one ,  & thing ,  & , said  & me i  & tell me  & me is  & is that  & organizations that  & that successful  & of two  & the two  & of all  & have two  & of two  & the things  & things together  & have two  & common together  & have :  & they save  & keep ,  & keep ,  & they save  & them ,  & they keep  & ves the  & they progress  & it progress  & . .  & , </s>  & </s> <unk>
7: joe coll@@  & kra@@ ins  & ins and  & : the  & writer ,  & or ,  & &quot; from  & the path  & from &quot;  & road to  & the way  & best of  & best thing  & &quot; ,  & &quot; tells  & me told  & , said  & that success  & success organizations  & successful institutions  & organizations ,  & the two  & of the  & things together  & have all  & two different  & all things  & these two  & have together  & two things  & have together  & they protect  & they save  & save ,  & ve the  & main ;  & pro@@ ves  & they progress  & them progress  & they progress  & . <pad>  & pro@@ <pad>  & </s> <s>
8: jim kra@@  & re@@ ins  & im ,  & -- auth@@  & or ,  & , auth@@  & &quot; to  & , &quot;  & the road  & &quot; to  & to to  & best one  & to best  & best &quot;  & told ,  & , tells  & me the  & said that  & me the  & organizations ,  & organizations have  & two things  & all of  & have all  & have of  & all things  & these two  & , in  & together :  & common ,  & they keep  & : preser@@  & ves ,  & they save  & they pro@@  & save them  & ; it  & keep the  & them .  & , it  & , .  & they </s>  & </s> and
9: jim re@@  & labor@@ ins  & ines ,  & . the  & from &quot;  & &quot; from  & , from  & &quot; road  & of the  & way out  & the line  & , to  & , ,  & line ,  & , ,  & &quot; tell  & that i  & i that  & was that  & organizations have  & institutions of  & of of  & two kinds  & two of  & all kinds  & these different  & the two  & these things  & two together  & things have  & both things  & preser@@ preser@@  & save ,  & ves the  & save them  & the ves  & , they  & ves progress  & it the  & . it  & they .  & progress <pad>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: jim coll@@ ins  & coll@@ ins ,  & ins , the  & , the auth@@  & the auth@@ or  & auth@@ or of  & or of &quot;  & of &quot; the  & &quot; the path  & the path to  & path to the  & to the best  & the best ,  & best , &quot;  & , &quot; told  & &quot; told me  & told me that  & me that successful  & that successful organizations  & successful organizations of  & organizations of all  & of all kinds  & all kinds of  & kinds of two  & of two things  & two things have  & things have in  & have in common  & in common :  & common : they  & : they preser@@  & they preser@@ ve  & preser@@ ve ,  & ve , they  & , they keep  & they keep the  & keep the progress  & the progress .  & progress . </s>  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>
1: jim coll@@ in  & coll@@ ins --  & ins , auth@@  & , auth@@ or  & auth@@ or of  & auth@@ or from  & or from &quot;  & from &quot; the  & &quot; the way  & the way to  & way to the  & the best ,  & best , &quot;  & , &quot; told  & &quot; told me  & told me that  & me that the  & me that the  & that the successful  & the successful organizations  & successful organizations of  & organizations of all  & of all kinds  & all kinds of  & kinds of two  & of two things  & two things in  & things in common  & common things :  & things : they  & they preser@@ ve  & preser@@ ve ,  & preser@@ ve the  & ve the main  & the main ,  & main , the  & , the progress  & them progress .  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & </s> <pad> <pad>
2: jim coll@@ ine  & coll@@ in ,  & ins -- the  & -- the auth@@  & auth@@ or from  & or of &quot;  & of &quot; the  & &quot; the path  & &quot; the best  & the best to  & best to the  & the best one  & best one ,  & one , &quot;  & told me ,  & me , told  & told me is  & that the successful  & the successful organizations  & that successful organizations  & organizations of the  & of all the  & all the kinds  & the kinds of  & of two different  & two different things  & different things in  & in common things  & common : they  & : they preser@@  & things : they  & : they preser@@  & ve , they  & , they keep  & they keep them  & keep them the  & them the progress  & ves progress .  & the progress .  & progress . </s>  & . </s> <pad>  & . </s> <pad>
3: jim coll@@ ines  & coll@@ ine ,  & in , the  & , &quot; auth@@  & auth@@ or ,  & auth@@ or ,  & of &quot; to  & &quot; the way  & the path to  & path to the  & to the best  & best , &quot;  & best , ,  & , , &quot;  & , &quot; tells  & &quot; tells me  & told me the  & me is that  & is that successful  & organizations of all  & of all the  & of all two  & all two kinds  & two kinds of  & of these two  & two things in  & things in common  & in common :  & in common things  & common things :  & together : they  & they preser@@ ves  & they preser@@ ve  & , they save  & they save them  & save them the  & keep them progress  & they progress .  & progress . it  & progress . .  & . . </s>  & . <pad> <pad>
4: jim coll@@ im  & coll@@ ins :  & ins , &quot;  & , the writer  & &quot; auth@@ or  & or from &quot;  & or of the  & &quot; to the  & &quot; the line  & the line to  & line to the  & of the best  & , &quot; told  & &quot; told me  & , &quot; tell  & &quot; tell me  & me that successful  & me the successful  & successful organizations of  & success organizations of  & of all of  & of the kinds  & the kinds of  & kinds of these  & of the two  & these two things  & things have two  & in common together  & common things together  & things together :  & , they preser@@  & they keep ,  & preser@@ ves ,  & preser@@ ve them  & , they pro@@  & they keep them  & pro@@ ves progress  & them . </s>  & <pad> <pad> <pad>  & . it .  & it . </s>  & pro@@ <pad> <pad>
5: john coll@@ ins  & coll@@ ins .  & ine , the  & , &quot; the  & the writer of  & or , from  & or , &quot;  & of the path  & the way to  & way to the  & the best ,  & the best thing  & best thing ,  & thing , &quot;  & , , told  & , told me  & , told me  & that successful organizations  & that success organizations  & successful organization of  & of all two  & all the kinds  & all two of  & two of these  & things have two  & the two things  & two things have  & have two things  & common together :  & together : they  & : they keep  & : they keep  & keep , they  & preser@@ ve ,  & ve them ,  & they pro@@ ves  & , they progress  & ves the progress  & it progress .  & progress . <pad>  & . <pad> <pad>  & , </s> <pad>
6: mr. coll@@ ins  & coll@@ ines ,  & ins : the  & : the auth@@  & &quot; the auth@@  & writer of &quot;  & from &quot; the  & of the way  & to the best  & to the best  & best of the  & best one ,  & the best &quot;  & best &quot; told  & told me that  & me that the  & tells me that  & me that success  & that successful organization  & successful institutions of  & organization of all  & all of the  & of the kinds  & two of the  & have two things  & have two things  & different things have  & things have together  & two things together  & common , they  & they preser@@ preser@@  & preser@@ preser@@ ve  & they keep ,  & ves , they  & the main ves  & main , they  & ves the progress  & keep progress .  & they progress .  & it . </s>  & . . <pad>  & they </s> <pad>
7: james coll@@ ins  & coll@@ im ,  & ins . the  & . the auth@@  & the writer from  & the auth@@ or  & from &quot; to  & , &quot; the  & &quot; to the  & road to the  & to to the  & best to the  & one , &quot;  & best , ,  & best , told  & me , said  & tell me that  & told me that  & me that successful  & organizations of the  & organizations of of  & all two kinds  & two kinds of  & two things have  & have all two  & all two things  & two things together  & have two together  & in common ,  & common together :  & : they save  & they save ,  & save , they  & keep , they  & ve , they  & them , the  & keep them .  & it progress .  & them progress .  & it . .  & it . <pad>  & progress <pad> <pad>
8: paul coll@@ ins  & coll@@ ins the  & ines , the  & , or of  & or of &quot;  & writer from &quot;  & , from &quot;  & of &quot; to  & &quot; road to  & the best of  & the best one  & best , ,  & to the best  & the best ,  & , told me  & told me the  & that the successful  & the successful organizations  & that successful institutions  & successful organizations ,  & institutions of all  & organizations of the  & all two things  & things have two  & have of two  & these different things  & different things together  & things together :  & have together :  & two things :  & together : preser@@  & : they save  & they save ,  & save , they  & the main ;  & main ves the  & pro@@ ves the  & keep the progress  & it . </s>  & the progress .  & progress . </s>  & progress </s> <pad>
9: steve coll@@ ins  & kra@@ ins ,  & im , the  & the auth@@ or  & writer of &quot;  & of &quot; from  & auth@@ or of  & of &quot; road  & &quot; path to  & path to to  & the best to  & best to best  & , , &quot;  & best , told  & best &quot; told  & , tells me  & , said that  & said that successful  & the successful organization  & successful organizations have  & organizations of two  & of the two  & the two kinds  & things have all  & of these different  & all different things  & these things in  & things have two  & in common together  & things have :  & have : they  & preser@@ preser@@ ves  & preser@@ ves the  & preser@@ ve the  & ve the ves  & , they keep  & they keep progress  & it . </s>  & it . it  & <pad> <pad> <pad>  & progress . <pad>  & it </s> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: jim coll@@ ins ,  & coll@@ ins , the  & ins , the auth@@  & , the auth@@ or  & the auth@@ or of  & auth@@ or of &quot;  & or of &quot; the  & of &quot; the path  & &quot; the path to  & the path to the  & path to the best  & to the best ,  & the best , &quot;  & best , &quot; told  & , &quot; told me  & &quot; told me that  & told me that successful  & me that successful organizations  & that successful organizations of  & successful organizations of all  & organizations of all kinds  & of all kinds of  & all kinds of two  & kinds of two things  & of two things have  & two things have in  & things have in common  & have in common :  & in common : they  & common : they preser@@  & : they preser@@ ve  & they preser@@ ve ,  & preser@@ ve , they  & ve , they keep  & , they keep the  & they keep the progress  & keep the progress .  & the progress . </s>  & progress . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>
1: jim coll@@ ins --  & coll@@ ins , auth@@  & ins , auth@@ or  & , auth@@ or of  & the auth@@ or from  & auth@@ or from &quot;  & or from &quot; the  & of &quot; the way  & &quot; the way to  & the way to the  & way to the best  & the best , &quot;  & best , &quot; told  & , &quot; told me  & &quot; told me that  & told me that the  & told me that the  & me that the successful  & that the successful organizations  & the successful organizations of  & successful organizations of all  & organizations of all kinds  & of all kinds of  & all kinds of two  & kinds of two things  & of two things in  & two things in common  & things in common :  & in common things :  & common things : they  & things : they preser@@  & they preser@@ ve the  & preser@@ ve the main  & ve the main ,  & the main , the  & main , the progress  & , the progress .  & ves progress . </s>  & the progress . </s>  & progress . </s> <pad>  & . </s> <pad> <pad>
2: jim coll@@ in ,  & coll@@ ins -- the  & ins -- the auth@@  & -- the auth@@ or  & auth@@ or of &quot;  & or of &quot; the  & of &quot; the path  & of &quot; the best  & &quot; the best to  & the best to the  & best to the best  & the best one ,  & best one , &quot;  & one , &quot; told  & , &quot; tells me  & told me that successful  & me that the successful  & that the successful organizations  & the successful organizations of  & successful organizations of the  & organizations of all the  & of all the kinds  & all the kinds of  & the kinds of two  & of two different things  & two different things in  & different things in common  & have in common things  & common : they preser@@  & : they preser@@ ve  & they preser@@ ve ,  & : they preser@@ ve  & they preser@@ ve ,  & ve , they pro@@  & , they pro@@ ves  & they pro@@ ves progress  & pro@@ ves progress .  & keep progress . </s>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
3: jim coll@@ ine ,  & coll@@ in , the  & in , the auth@@  & , auth@@ or from  & auth@@ or from &quot;  & auth@@ or of the  & of &quot; the way  & from &quot; the path  & the path to the  & path to the best  & to the best ,  & the best , ,  & best , , &quot;  & best , &quot; tells  & , &quot; tell me  & &quot; told me the  & me that successful organizations  & that successful organizations of  & successful organizations of all  & organizations of all the  & organizations of the kinds  & of the kinds of  & the kinds of two  & kinds of two different  & of these two things  & these two things in  & things in common :  & in common : they  & common together : they  & together : they preser@@  & together : they preser@@  & preser@@ ve , they  & they preser@@ ve them  & preser@@ ve , they  & ve , they keep  & , they keep progress  & they keep progress .  & them progress . </s>  & the progress . .  & progress . . </s>  & . . </s> <pad>
4: jim coll@@ ins :  & coll@@ ins , &quot;  & ins , &quot; auth@@  & , &quot; auth@@ or  & &quot; auth@@ or of  & or from &quot; the  & or of the path  & from &quot; the way  & &quot; the line to  & the line to the  & line to the best  & the best thing ,  & best thing , &quot;  & , , &quot; told  & told me , told  & &quot; tells me that  & told me the successful  & me the successful organizations  & that success organizations of  & organizations of all of  & of all the kinds  & all the kinds of  & all kinds of these  & kinds of these two  & of two things in  & two things in common  & things in common together  & in common together :  & in common together :  & common together : they  & , they preser@@ ve  & they preser@@ ves ,  & ve , they keep  & preser@@ ve them ,  & ve them , the  & them , the progress  & keep them progress .  & they progress . </s>  & progress . it .  & . it . </s>  & it . </s> <pad>
5: jim coll@@ ins .  & coll@@ ine , the  & ins , the writer  & , auth@@ or ,  & the auth@@ or ,  & auth@@ or , &quot;  & or of the way  & &quot; the path to  & the way to the  & way to the best  & to the best one  & best , &quot; told  & , &quot; told me  & best , &quot; tell  & told me that the  & &quot; told me is  & told me that success  & me that success organizations  & that successful organization of  & success organizations of all  & of all of the  & all of the kinds  & of the kinds of  & two kinds of two  & things have two things  & have two things in  & two things have together  & have in common together  & in common , they  & common , they preser@@  & : they preser@@ ves  & preser@@ preser@@ ve ,  & ve , they save  & , they keep them  & , they keep them  & they keep them progress  & , they progress .  & ves the progress .  & the progress . <pad>  & progress . <pad> <pad>  & . <pad> <pad> <pad>
6: jim coll@@ im ,  & coll@@ ins : the  & ine , the auth@@  & , the writer of  & auth@@ or , from  & or , from &quot;  & from &quot; the path  & of &quot; the line  & &quot; road to the  & road to the best  & to the best thing  & of the best ,  & the best &quot; told  & thing , &quot; told  & , told me that  & &quot; tell me that  & tells me that successful  & me that successful organization  & is that successful organizations  & successful organization of all  & organization of all kinds  & organizations of the kinds  & all two kinds of  & two things have two  & of the two things  & the two things in  & things in common things  & have in common ,  & have together : they  & things : they preser@@  & they preser@@ preser@@ ve  & : they save ,  & preser@@ ves , they  & , they save them  & the main , they  & main , they progress  & them the progress .  & them . </s> <pad>  & it progress . .  & progress . . <pad>  & . . <pad> <pad>
7: jim coll@@ ines ,  & coll@@ ins . the  & ins : the auth@@  & : the auth@@ or  & the writer of &quot;  & writer of &quot; the  & or of &quot; road  & &quot; the way to  & the path to to  & path to to the  & to to the best  & to the best &quot;  & one , &quot; told  & &quot; told me ,  & , , told me  & me , told me  & told me is that  & me is that successful  & that successful institutions of  & that successful organizations of  & successful organizations of the  & of all two kinds  & all two things have  & two of the two  & of these different things  & of two things have  & things have two things  & things have together :  & common things : they  & things together : they  & things : they save  & : they keep ,  & they save , they  & ves , they keep  & they keep them the  & keep them the progress  & pro@@ ves the progress  & the progress . it  & it progress . <pad>  & . it . <pad>  & it . <pad> <pad>
8: john coll@@ ins ,  & coll@@ im , the  & ins . the auth@@  & . the auth@@ or  & &quot; auth@@ or from  & or of &quot; to  & from &quot; the way  & from &quot; the best  & &quot; to the best  & to the best ,  & the best , &quot;  & best one , &quot;  & the best , told  & best &quot; told me  & told me , said  & me that the successful  & tell me that successful  & me that successful institutions  & me that successful organizations  & successful institutions of all  & organizations of all two  & of all two things  & all two of the  & two of these two  & have two things have  & two things have two  & different things have together  & in common things :  & two things together :  & : they preser@@ preser@@  & things : they keep  & they save , they  & they keep , they  & ve the main ves  & they save them the  & they pro@@ ves the  & keep them . </s>  & ves progress . it  & it progress . </s>  & it . </s> <pad>  & progress . </s> <pad>
9: mr. coll@@ ins ,  & coll@@ ines , the  & im , the auth@@  & , the writer from  & the writer from &quot;  & or from &quot; to  & or , &quot; the  & of the path to  & to the best to  & the best of the  & best of the best  & best , , &quot;  & the best , ,  & &quot; told me that  & best , told me  & , told me that  & , told me that  & told me that successful  & the successful organization of  & organizations of all two  & institutions of all kinds  & of all two of  & two kinds of two  & kinds of these different  & have two things in  & these two things have  & things have two together  & have two things together  & common things together :  & common : they save  & : they save ,  & they keep , they  & save , they keep  & save , they keep  & the main ves the  & save them the progress  & ves the progress .  & keep progress . it  & <pad> <pad> <pad> <pad>  & it . . </s>  & progress . <pad> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: jim coll@@ ins , the auth@@ or of &quot; the path to the best , &quot; told me that successful organizations of all kinds of two things have in common : they preser@@ ve , they keep the progress . </s> <pad> <pad> <pad>
