==================================================Unigram Constraints (Iteration 1)==================================================
0: i  & designed  & designed  & to  & help  & help  & with  & with  & .  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: and  & i  & it  & help  & to  & children  & help  & treatment  & treatment  & .  & .  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: so  & created  & this  & it  & children  & with  & children  & children  & with  & treatment  & treatment  & .  & .  & .  & .  & .  & .  & ,
3: it  & did  & to  & for  & helping  & to  & kids  & .  & </s>  & with  & care  & treatment  & treatment  & treatment  & treatment  & treatment  & treatment  & and
4: now  & made  & designing  & design  & kids  & kids  & to  & help  & care  & care  & with  & care  & ?  & ?  & ?  & ?  & ?  & to
5: but  & &apos;ve  & design  & designed  & for  & helping  & treatment  & care  & treat  & treat  & treat  & with  & care  & care  & care  & care  & care  & <s>
6: we  & was  & built  & this  & with  & do  & do  & treat  & treated  & treated  & treated  & ?  & with  & help  & help  & help  & help  & <unk>
7: well  & built  & that  & helping  & serve  & for  & the  & the  & help  & to  & children  & treat  & treat  & children  & treat  & treat  & it  & the
8: my  & design  & created  & way  & it  & the  & in  & to  & the  & help  & help  & children  & help  & treat  & children  & it  & treat  & of
9: they  & used  & them  & build  & helps  & and  & for  & treated  & children  & the  & to  & help  & children  & with  & with  & with  & to  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: and i  & i designed  & designed it  & it to  & to help  & help children  & children with  & with treatment  & treatment .  & . </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>
1: i designed  & designed it  & it to  & to help  & help children  & children with  & with the  & the treatment  & with treatment  & treatment .  & . </s>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>
2: so i  & &apos;ve designed  & designed this  & this to  & help the  & the children  & kids with  & children with  & care .  & with treatment  & treatment .  & . </s>  & . </s>  & . </s>  & . </s>  & . </s>  & </s> </s>
3: i &apos;ve  & was designing  & designing it  & help children  & help kids  & help kids  & for children  & treatment with  & children with  & care .  & care .  & children .  & treatment .  & treatment .  & treatment .  & ? </s>  & </s> ,
4: i was  & designed this  & this to  & designed to  & help help  & kids with  & with treatment  & with care  & children .  & with care  & help children  & with treatment  & with treatment  & care .  & ? </s>  & treatment </s>  & </s> the
5: i did  & designed to  & to help  & it for  & children with  & children for  & treatment with  & help children  & the treatment  & the treatment  & children .  & ? </s>  & children .  & with treatment  & care .  & . <pad>  & </s> of
6: but i  & did design  & design it  & for help  & for help  & the kids  & do the  & treat children  & treated .  & treated .  & treated .  & children with  & ? </s>  & ? </s>  & children .  & care </s>  & </s> <unk>
7: now i  & was designed  & this designed  & help kids  & kids with  & with treatment  & help children  & with the  & with care  & treat .  & treat .  & help children  & care .  & children .  & treatment ?  & treat </s>  & </s> <s>
8: i created  & did designed  & designing this  & way to  & help and  & children do  & do with  & care with  & treat .  & to help  & help .  & treatment .  & with care  & treatment ?  & treat .  & help </s>  & </s> and
9: it was  & designed that  & it designed  & design to  & help to  & children help  & to help  & the care  & . .  & help children  & children with  & help .  & children with  & treat .  & . .  & treatment <pad>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: i designed it  & designed it to  & it to help  & to help children  & help children with  & children with the  & with the treatment  & the treatment .  & treatment . </s>  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>
1: and i designed  & i designed it  & designed it to  & it to help  & to help children  & help children with  & children with treatment  & with treatment .  & care . </s>  & treatment . </s>  & . </s> <pad>  & </s> <pad> <pad>  & . </s> <pad>  & . </s> <pad>  & . </s> <pad>  & . </s> <pad>
2: so i designed  & &apos;ve designed it  & this to help  & to help the  & help the children  & the children with  & kids with treatment  & with care .  & the treatment .  & care . </s>  & treatment . </s>  & . </s> <pad>  & with treatment .  & treatment . .  & treatment . <pad>  & treatment </s> <pad>
3: i &apos;ve designed  & designed this to  & designed this to  & to help kids  & help kids with  & kids with the  & children with care  & with the treatment  & with treatment .  & with treatment .  & care . </s>  & children . </s>  & ? </s> <pad>  & with treatment .  & care . <pad>  & treat </s> <pad>
4: i designed this  & i designed this  & designing it to  & this to help  & to help kids  & help kids with  & do the treatment  & the care .  & with care .  & to help .  & treat . </s>  & help children .  & care . </s>  & with treatment ?  & children . </s>  & help </s> <pad>
5: i was designing  & was designing it  & design it to  & to help help  & help the kids  & the kids with  & children with the  & children with treatment  & treated . </s>  & treated . </s>  & help . </s>  & help children with  & </s> <pad> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>
6: i did design  & &apos;ve designed this  & designing this to  & it for help  & help children do  & children do the  & kids with care  & treatment with treatment  & treat . </s>  & to help children  & treated . </s>  & children with care  & treatment . </s>  & treatment . </s>  & treatment . </s>  & ? </s> <pad>
7: but i designed  & did design it  & designed it for  & designed to help  & help help children  & children help children  & do the care  & children with care  & children . </s>  & treat . </s>  & children . </s>  & children with treatment  & children . </s>  & care . .  & care . </s>  & care </s> <pad>
8: i did designed  & was designing this  & it designed to  & help children with  & help children help  & children do with  & help children with  & treatment with care  & children with treatment  & with care .  & help children .  & with treatment .  & with care .  & ? </s> <pad>  & children . <pad>  & treatment <pad> <pad>
9: now i designed  & did designed it  & designing it for  & help kids with  & for help children  & children with treatment  & with the care  & help children with  & children with care  & the treatment .  & help children with  & ? </s> <pad>  & with treatment ?  & care . </s>  & ? </s> <pad>  & . <pad> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: i designed it to  & designed it to help  & it to help children  & to help children with  & help children with the  & children with the treatment  & with the treatment .  & the treatment . </s>  & treatment . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
1: and i designed it  & i designed it to  & designed it to help  & it to help children  & to help children with  & help children with treatment  & children with treatment .  & with treatment . </s>  & care . </s> <pad>  & treatment . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & with treatment . </s>  & with treatment . <pad>  & treatment . <pad> <pad>
2: i designed this to  & designed this to help  & it to help kids  & to help kids with  & help kids with the  & kids with the treatment  & kids with treatment .  & with care . </s>  & the treatment . </s>  & care . </s> <pad>  & treatment . </s> <pad>  & . </s> <pad> <pad>  & care . </s> <pad>  & </s> <pad> <pad> <pad>  & children . </s> <pad>
3: so i designed it  & &apos;ve designed it to  & this to help children  & to help the children  & help the children with  & the children with treatment  & children with care .  & with the treatment .  & with treatment . </s>  & with treatment . </s>  & care . </s> <pad>  & children . </s> <pad>  & children . </s> <pad>  & care . </s> <pad>  & care . </s> <pad>
4: i &apos;ve designed it  & i designed this to  & it to help the  & this to help children  & to help kids with  & help kids with treatment  & do the treatment .  & the care . </s>  & with care . </s>  & with care . </s>  & help children . </s>  & help children . </s>  & ? </s> <pad> <pad>  & with treatment . </s>  & children . <pad> <pad>
5: and i designed this  & was designing it to  & designed this to help  & it to help kids  & help children do the  & help children with care  & children with the treatment  & children with treatment .  & children with treatment .  & to help children .  & help children with care  & ? </s> <pad> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>
6: i was designing it  & &apos;ve designed this to  & designing it to help  & to help children do  & help the kids with  & children do the treatment  & kids with care .  & children with care .  & children with care .  & treat . </s> <pad>  & children . </s> <pad>  & with treatment . </s>  & with care . </s>  & treatment . </s> <pad>  & care . <pad> <pad>
7: so i designed this  & did design it to  & this to help kids  & to help the kids  & help help children with  & the kids with treatment  & with the care .  & help children with treatment  & children . </s> <pad>  & to help children with  & treated . </s> <pad>  & children with treatment .  & treatment . </s> <pad>  & ? </s> <pad> <pad>  & treatment . </s> <pad>
8: i &apos;ve designed this  & was designing this to  & this to help the  & to help help children  & help children help children  & the children with care  & do the care .  & treatment with care .  & treated . </s> <pad>  & to help . </s>  & treat . </s> <pad>  & children with care .  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & ? </s> <pad> <pad>
9: i did design it  & did designed it to  & it to help help  & this to help kids  & for help children with  & help children with the  & help children with treatment  & treatment with treatment .  & treat . </s> <pad>  & treated . </s> <pad>  & help . </s> <pad>  & children with treatment ?  & with treatment . .  & <pad> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: i designed it to help children with the treatment . </s> <pad> <pad> <pad> <pad> <pad> <pad> <pad>
