==================================================Unigram Constraints (Iteration 1)==================================================
0: it  & took  & hours  & hours  & hours  & hours  & every  & day  & day  & to  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: and  & it  & a  & a  & of  & every  & day  & every  & to  & improve  & to  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: every  & would  & took  & many  & many  & day  & hours  & to  & every  & impro@@  & make  & .  & .  & .  & .  & .  & .  & ,
3: so  & takes  & me  & lot  & a  & of  & to  & each  & make  & make  & .  & to  & skills  & skills  & skills  & skills  & skills  & and
4: i  & needed  & it  & of  & lot  & a  & each  & make  & impro@@  & day  & my  & my  & my  & ability  & ability  & to  & to  & to
5: there  & ,  & many  & time  & every  & to  & of  & hours  & improve  & my  & impro@@  & make  & to  & my  & to  & my  & ability  & <s>
6: a  & was  & take  & to  & time  & many  & a  & a  & each  & every  & improve  & ability  & ability  & to  & my  & ability  & my  & <unk>
7: this  & take  & takes  & it  & to  & time  & time  & time  & my  & better  & ability  & skills  & make  & make  & make  & make  & make  & the
8: that  & hours  & to  & took  & day  & each  & everyday  & of  & hours  & work  & skills  & impro@@  & abilities  & abilities  & abilities  & abilities  & abilities  & of
9: we  & day  & an  & lots  & long  & lot  & for  & impro@@  & time  & each  & better  & abilities  & impro@@  & sk@@  & sk@@  & sk@@  & ?  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: it took  & took a  & a lot  & lot of  & of hours  & hours each  & each day  & day to  & to improve  & improve my  & my ability  & ability .  & . </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>
1: and it  & took hours  & hours a  & a lot  & lot of  & hours every  & every day  & to improve  & improve my  & my ability  & my skills  & skills .  & </s> <pad>  & <pad> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>
2: every day  & took many  & many hours  & hours a  & a lot  & of hours  & hours to  & each day  & day to  & my skills  & ability .  & . </s>  & ability .  & . </s>  & . </s>  & . </s>  & </s> </s>
3: so it  & took me  & me many  & many hours  & hours every  & lot of  & hours each  & hours to  & to make  & to improve  & skills .  & my ability  & skills .  & skills .  & skills .  & skills </s>  & </s> ,
4: it takes  & it took  & me a  & of hours  & hours each  & every day  & of hours  & every day  & make my  & make my  & improve my  & my skills  & abilities .  & ability .  & ability .  & ability </s>  & </s> the
5: it would  & day it  & took many  & hours of  & every day  & each day  & hours every  & to make  & make better  & to make  & make my  & abilities .  & <pad> <pad>  & my skills  & abilities .  & my </s>  & </s> of
6: it was  & takes a  & hours of  & hours every  & of time  & hours everyday  & day to  & time to  & each day  & make better  & my abilities  & my abilities  & my skills  & my ability  & make .  & abilities </s>  & </s> <unk>
7: i needed  & would take  & took a  & took hours  & many hours  & of time  & everyday to  & a day  & to better  & improve .  & improve .  & </s> <pad>  & my ability  & abilities .  & my .  & . <pad>  & </s> <s>
8: so ,  & takes hours  & it took  & took many  & time every  & day to  & of time  & hours each  & every day  & better .  & better .  & make my  & make my  & make .  & skills </s>  & to </s>  & </s> and
9: it needed  & was a  & me lots  & lots of  & to every  & time every  & time to  & hours every  & hours to  & day to  & . </s>  & to make  & my abilities  & my abilities  & ability </s>  & make </s>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: it took a  & took a lot  & a lot of  & lot of hours  & of hours each  & hours each day  & each day to  & day to improve  & to improve my  & improve my skills  & my skills .  & skills . </s>  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>
1: it took me  & took me many  & me many hours  & many hours every  & of hours every  & hours every day  & every day to  & to improve my  & improve my skills  & improve my ability  & my ability .  & ability . </s>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & </s> <pad> <pad>  & . </s> <pad>
2: every day it  & took me a  & me a lot  & many hours each  & hours every day  & every day to  & day to improve  & each day to  & day to improve  & my skills .  & skills . </s>  & . </s> <pad>  & skills . </s>  & . </s> <pad>  & . </s> <pad>  & ability </s> <pad>
3: and it took  & took me lots  & me lots of  & a lot of  & hours each day  & each day to  & hours each day  & every day to  & improve my ability  & to improve my  & improve my skills  & my skills .  & ability . </s>  & skills . </s>  & skills . </s>  & . <pad> <pad>
4: so it took  & day it took  & it took hours  & lots of hours  & lot of hours  & of hours each  & hours to improve  & day to make  & to make my  & my ability .  & improve my ability  & my ability .  & abilities . </s>  & abilities . </s>  & abilities . <pad>  & to </s> <pad>
5: it takes a  & it took many  & took many hours  & took hours every  & of hours everyday  & of hours to  & hours every day  & to make my  & make my skills  & make my skills  & ability . </s>  & abilities . </s>  & <pad> <pad> <pad>  & my skills </s>  & make . </s>  & </s> <pad> <pad>
6: it took hours  & it took a  & it took many  & lot of time  & of time every  & of hours every  & day to make  & day to better  & day to make  & improve my abilities  & my abilities .  & my abilities .  & make my skills  & my ability </s>  & abilities . </s>  & skills </s> <pad>
7: it was a  & takes a lot  & took a lot  & took many hours  & many hours each  & hours everyday to  & hours to make  & hours to improve  & make my ability  & make my ability  & make my skills  & </s> <pad> <pad>  & make my ability  & my ability .  & ability . <pad>  & abilities </s> <pad>
8: it took many  & took hours a  & hours a lot  & took hours each  & many hours every  & time every day  & everyday to improve  & to make better  & to improve .  & to make my  & improve my abilities  & make my skills  & my ability .  & ability . </s>  & skills . <pad>  & make </s> <pad>
9: it takes hours  & was a lot  & many hours of  & hours of time  & lot of time  & of time to  & everyday to make  & hours to make  & to better .  & improve . </s>  & make my ability  & make my ability  & my skills .  & my skills .  & ability . </s>  & my </s> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: it took me many  & took me many hours  & me many hours every  & many hours every day  & hours every day to  & every day to improve  & day to improve my  & to improve my skills  & improve my skills .  & my skills . </s>  & skills . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
1: it took a lot  & took a lot of  & a lot of hours  & lot of hours each  & of hours each day  & hours each day to  & each day to improve  & day to improve my  & to improve my skills  & improve my skills .  & my skills . </s>  & skills . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>
2: it took me a  & took me a lot  & me a lot of  & lot of hours every  & of hours every day  & hours every day to  & every day to improve  & to improve my ability  & improve my ability .  & my ability . </s>  & ability . </s> <pad>  & ability . </s> <pad>  & skills . </s> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>
3: every day it took  & day it took hours  & me many hours each  & a lot of hours  & lot of hours to  & of hours to improve  & hours to improve my  & each day to improve  & to improve my ability  & improve my ability .  & my ability . </s>  & my skills . </s>  & ability . </s> <pad>  & skills . </s> <pad>  & skills . </s> <pad>
4: and it took many  & it took many hours  & it took hours every  & many hours each day  & hours each day to  & each day to improve  & hours each day to  & every day to improve  & day to improve my  & to improve my skills  & improve my skills .  & my ability . </s>  & abilities . </s> <pad>  & my skills . <pad>  & skills . <pad> <pad>
5: it took me lots  & took me lots of  & took many hours every  & took hours every day  & lot of hours each  & of hours each day  & hours every day to  & day to make my  & to improve my abilities  & to improve my ability  & improve my ability .  & abilities . </s> <pad>  & my ability . </s>  & my ability . </s>  & ability . </s> <pad>
6: so it took many  & it took a lot  & me lots of hours  & lot of hours everyday  & lot of hours every  & of hours every day  & everyday to improve my  & each day to make  & to make my ability  & improve my abilities .  & my abilities . </s>  & my abilities . </s>  & my skills . </s>  & my skills . </s>  & ability . <pad> <pad>
7: and it took a  & took hours a lot  & took many hours each  & lots of hours every  & of hours everyday to  & hours everyday to improve  & every day to make  & every day to make  & day to make my  & to improve my abilities  & improve my abilities .  & make my ability .  & make my ability .  & ability . </s> <pad>  & abilities . </s> <pad>
8: it took hours a  & day it took many  & a lot of time  & lots of hours each  & of time every day  & time every day to  & each day to make  & to make my ability  & make my ability .  & make my ability .  & make my ability .  & make my skills .  & <pad> <pad> <pad> <pad>  & abilities . </s> <pad>  & abilities . <pad> <pad>
9: so it took a  & takes a lot of  & took a lot of  & lot of time every  & many hours every day  & every day to make  & day to make my  & to make my skills  & to make my skills  & to make my ability  & make my skills .  & </s> <pad> <pad> <pad>  & make my skills .  & my ability . <pad>  & make . </s> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: it took me many hours every day to improve my skills . </s> <pad> <pad> <pad> <pad> <pad>
