==================================================Unigram Constraints (Iteration 1)==================================================
0: and  & it  & never  & never  & to  & to  & mind  & that  & you  & walking  & a  & a  & street  & and  & and  & and  & because  & because  & &apos;re  & &apos;re  & one  & one  & one  & side  & side  & side  & street  & street  & street  & ,  & your  & your  & forever  & forever  & forever  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & </s>  & <pad>
1: it  & they  & always  & &apos;t  & you  & you  & sense  & you  & they  & walk  & one  & one  & road  & ,  & ,  & just  & just  & they  & they  & on  & on  & the  & side  & or  & street  & street  & side  & side  & ,  & your  & ,  & forever  & your  & your  & .  & .  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & <pad>  & </s>
2: but  & you  & &apos;s  & ever  & ever  & mind  & you  & they  & that  & one  & down  & street  & one  & street  & just  & ,  & only  & only  & you  & walk  & the  & or  & or  & the  & or  & or  & road  & ,  & or  & street  & changing  & changed  & changed  & changed  & </s>  & forever  & .  & .  & .  & .  & .  & .  & ,
3: so  & never  & doesn  & come  & come  & sense  & to  & mind  & &apos;re  & down  & along  & road  & a  & road  & only  & because  & ,  & just  & because  & they  & &apos;re  & side  & the  & one  & the  & the  & ,  & road  & side  & or  & change  & changing  & always  & .  & changed  & changed  & forever  & forever  & forever  & forever  & forever  & forever  & and
4: you  & the  & just  & you  & mind  & your  & the  & ,  & go  & you  & walking  & down  & ,  & one  & street  & only  & and  & ,  & walk  & one  & walk  & on  & street  & street  & other  & road  & or  & the  & your  & is  & changed  & ,  & changing  & always  & your  & your  & changed  & changed  & changed  & your  & your  & always  & to
5: i  & this  & ever  & always  & get  & in  & that  & to  & one  & &apos;re  & walk  & the  & and  & a  & one  & they  & they  & you  & on  & you  & walking  & ,  & on  & other  & road  & other  & the  & or  & road  & the  & changes  & change  & change  & changing  & always  & always  & your  & your  & your  & changed  & changed  & your  & <s>
6: now  & what  & really  & to  & occur@@  & the  & your  & the  & walk  & go  & street  & ,  & the  & just  & you  & you  & you  & &apos;re  & ,  & walking  & going  & street  & ,  & ,  & one  & ,  & other  & other  & the  & life  & life  & always  & is  & change  & changing  & changing  & always  & always  & always  & always  & always  & changed  & <unk>
7: that  & i  & can  & occur@@  & make  & into  & in  & one  & once  & they  & you  & along  & streets  & the  & they  & &apos;re  & &apos;re  & and  & go  & go  & ,  & walk  & other  & road  & ,  & one  & one  & one  & other  & changes  & always  & changes  & changes  & life  & change  & life  & life  & life  & life  & life  & life  & change  & the
8: they  & there  & &apos;ll  & really  & really  & make  & think  & sense  & walking  & a  & the  & in  & in  & only  & because  & one  & one  & one  & walking  & going  & you  & either  & of  & on  & of  & of  & streets  & streets  & is  & changing  & is  & is  & ,  & for  & life  & change  & change  & change  & change  & change  & change  & life  & of
9: or  & he  & makes  & no  & coming  & think  & feel  & &apos;re  & ,  & along  & in  & and  & down  & streets  & road  & the  & the  & on  & only  & the  & or  & of  & to  & of  & on  & on  & of  & your  & one  & their  & forever  & life  & life  & is  & for  & for  & changing  & changing  & changing  & changing  & changing  & changing  & .
==================================================Bigram Constraints (Iteration 2)==================================================
0: and it  & it never  & never really  & really coming  & coming to  & to you  & you that  & that they  & they walk  & walk along  & along a  & a road  & road ,  & , and  & and only  & only because  & because they  & they &apos;re  & &apos;re walking  & walking on  & on one  & one side  & side or  & or the  & the other  & other side  & side or  & or the  & the street  & street ,  & , your  & your life  & life forever  & forever .  & . </s>  & </s> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>  & <pad> <pad>
1: and they  & they never  & doesn &apos;t  & really come  & come to  & to mind  & mind that  & that you  & you &apos;re  & &apos;re walking  & walking down  & down a  & a road  & road and  & and just  & just because  & only because  & because they  & they &apos;re  & &apos;re walking  & walking on  & on one  & one side  & side or  & or the  & the other  & other side  & side ,  & , your  & your life  & life forever  & forever changing  & changing forever  & changing forever  & forever .  & . </s>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>  & </s> <pad>
2: and you  & it doesn  & never come  & really ever  & ever mind  & to the  & the sense  & sense that  & you walk  & walk down  & down a  & along a  & street ,  & road ,  & , and  & and only  & just because  & &apos;re walking  & walking on  & on one  & one side  & side or  & or the  & or on  & on one  & one side  & of the  & the street  & street ,  & , your  & your life  & forever changes  & changes forever  & forever changing  & changing forever  & forever .  & . </s>  & . </s>  & . </s>  & . </s>  & . </s>  & </s> </s>
3: it never  & it &apos;s  & &apos;s never  & &apos;t ever  & to mind  & to your  & your mind  & mind that  & they &apos;re  & go along  & walking along  & a street  & a street  & street and  & only because  & and just  & they &apos;re  & you &apos;re  & they walk  & walk on  & walking one  & one or  & or on  & side of  & of the  & side of  & or the  & , your  & your life  & life changes  & changes forever  & life changes  & changed forever  & changed forever  & changed forever  & changing forever  & forever .  & forever .  & forever .  & forever .  & . <pad>  & </s> ,
4: and there  & you never  & can &apos;t  & come to  & really mind  & mind that  & that they  & they &apos;re  & they go  & you walk  & walk down  & one street  & road and  & and only  & just because  & because they  & because you  & because you  & you walk  & walking one  & one or  & or on  & side of  & the other  & other side  & side or  & one side  & other side  & side ,  & life forever  & life is  & is changing  & forever changing  & life forever  & change forever  & changed forever  & changing forever  & changing forever  & changing forever  & changing .  & forever </s>  & </s> the
5: and this  & you can  & never always  & never really  & to you  & you that  & that you  & you &apos;re  & that you  & go down  & walk along  & the street  & street and  & street ,  & , just  & because you  & you &apos;re  & they walk  & you &apos;re  & going on  & going one  & on the  & on one  & on one  & or on  & on one  & side ,  & street ,  & , their  & life changed  & life changes  & forever changed  & change forever  & is changing  & life forever  & life forever  & changed forever  & changed forever  & changed forever  & change .  & forever <pad>  & </s> of
6: and i  & never makes  & makes you  & always coming  & make you  & to feel  & mind they  & mind once  & that they  & they walk  & along one  & one road  & the street  & and just  & , only  & &apos;re just  & they just  & you walk  & walk on  & walk one  & on the  & or the  & side ,  & of the  & one side  & on the  & the other  & one side  & road ,  & life is  & life always  & changes forever  & forever changed  & change forever  & forever changing  & forever changing  & changing .  & life forever  & change .  & changed .  & changing </s>  & </s> <unk>
7: and never  & they can  & never ever  & really make  & to your  & you in  & feel that  & they walk  & &apos;re walking  & walking along  & down one  & down the  & one street  & , just  & you &apos;re  & and because  & they only  & just because  & &apos;re going  & &apos;re going  & going on  & the other  & or one  & or one  & on the  & street or  & of street  & the road  & , changes  & their life  & forever changing  & always changing  & life changed  & forever changed  & changing .  & change forever  & change forever  & changing .  & changing .  & always .  & always </s>  & </s> <s>
8: and he  & it can  & never to  & you ever  & ever make  & to sense  & you to  & mind they  & you go  & walking down  & along the  & down one  & one road  & and you  & they just  & they just  & you just  & they go  & they go  & going one  & walk on  & either side  & the other  & side ,  & the street  & or the  & street ,  & road ,  & , is  & life always  & , is  & changing forever  & is changing  & always changing  & forever changed  & changing .  & change .  & change .  & change forever  & life .  & change </s>  & </s> and
9: and what  & there &apos;s  & really never  & never make  & coming into  & to think  & mind you  & to you  & once you  & along a  & walking one  & along the  & , and  & , only  & you just  & and they  & &apos;re just  & only because  & because they  & go on  & on either  & side of  & other side  & one side  & , or  & of the  & street or  & or street  & , changing  & life change  & changes your  & forever change  & your life  & for forever  & change .  & forever changed  & forever changing  & change forever  & changed .  & . .  & changing <pad>  & </s> to
==================================================Trigram Constraints (Iteration 3)==================================================
0: and they never  & they never come  & never come to  & come to mind  & to mind that  & mind that you  & that you &apos;re  & you &apos;re walking  & &apos;re walking down  & walking down a  & down a road  & a road and  & road and only  & and only because  & only because they  & because they &apos;re  & they &apos;re walking  & &apos;re walking on  & walking on one  & on one side  & one side or  & side or the  & or the other  & the other side  & other side of  & side of the  & of the street  & the street ,  & street , your  & , your life  & your life changes  & life changes forever  & changes forever .  & forever . </s>  & . </s> <pad>  & </s> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>  & <pad> <pad> <pad>
1: and you never  & you never come  & doesn &apos;t ever  & &apos;t ever mind  & ever mind that  & mind that they  & that they &apos;re  & they &apos;re walking  & &apos;re walking along  & walking along a  & along a road  & a road ,  & road and just  & and just because  & just because they  & because you &apos;re  & you &apos;re walking  & they walk on  & walk on one  & walking on one  & on one side  & one side or  & side or on  & or on the  & on the other  & the other side  & of the road  & the road ,  & road , your  & your life is  & life is changing  & is changing forever  & changing forever .  & changed forever .  & forever . </s>  & . </s> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>  & </s> <pad> <pad>
2: and it doesn  & it doesn &apos;t  & &apos;s never really  & come to you  & to you that  & you that they  & mind that they  & that they walk  & they walk along  & walking down one  & down a street  & a street and  & road , just  & , just because  & only because you  & only because they  & because they walk  & they &apos;re walking  & &apos;re walking on  & walking one side  & on one or  & side or on  & or on one  & on one side  & one side of  & side or the  & other side ,  & side , your  & , your life  & street , your  & , your life  & your life forever  & life forever .  & forever changing .  & changing . </s>  & forever . </s>  & . </s> <pad>  & . </s> <pad>  & . </s> <pad>  & . </s> <pad>  & . </s> <pad>
3: and it &apos;s  & it &apos;s never  & never really ever  & never really mind  & really mind that  & you that you  & mind that you  & that you &apos;re  & they walk down  & walking along one  & along a street  & a street ,  & street and only  & , and only  & just because you  & just because they  & because they &apos;re  & you walk on  & &apos;re walking one  & going on one  & walking on one  & one or the  & side or one  & or one side  & other side or  & other side or  & or the street  & or the street  & the street ,  & their life is  & , is changing  & your life changed  & life changed forever  & forever changing forever  & changing forever .  & changing . </s>  & forever . </s>  & forever . </s>  & forever . </s>  & . . </s>  & . <pad> <pad>
4: and it never  & it never come  & never really coming  & really ever mind  & coming to mind  & to mind that  & mind they &apos;re  & that you walk  & you &apos;re walking  & walking along the  & down one street  & one street and  & street and just  & , and just  & and only because  & only because you  & because you walk  & you &apos;re walking  & &apos;re going on  & going one side  & on either side  & on one side  & side or the  & or the other  & one side or  & one side or  & side or the  & side , their  & , their life  & street , is  & life forever changes  & forever changes forever  & life forever changing  & forever changed forever  & changed forever .  & changed forever .  & changing . </s>  & changing . </s>  & forever . .  & . . <pad>  & always </s> <pad>
5: and you can  & it never really  & can &apos;t ever  & really coming to  & come to mind  & to mind they  & you that they  & that they &apos;re  & you walk along  & walk along a  & along one street  & one road and  & street , just  & , only because  & and just because  & just because you  & because you &apos;re  & they &apos;re going  & &apos;re going one  & &apos;re walking on  & on the other  & either side or  & one side or  & or on one  & the other side  & side of street  & of street ,  & street , your  & side , your  & your life forever  & life forever changing  & forever changing forever  & changes forever changing  & changed forever changing  & forever changing .  & changing forever .  & changed forever .  & changing forever .  & change . .  & changing . <pad>  & changing </s> <pad>
6: it never makes  & they never really  & never really come  & really come to  & coming to you  & to you that  & you that you  & that they go  & they &apos;re walking  & walk down a  & down one road  & one street ,  & road , and  & road , and  & , and only  & and only because  & only because they  & because they &apos;re  & they &apos;re walking  & walking on either  & going on one  & the other side  & other side or  & side or the  & on one side  & on the other  & the other side  & other side ,  & your life changes  & their life forever  & life forever changed  & forever changed forever  & changed forever .  & changing forever .  & forever changed forever  & forever changing .  & changing forever .  & change . </s>  & changing . </s>  & change . </s>  & change </s> <pad>
7: and there &apos;s  & you can &apos;t  & makes you ever  & you ever mind  & come to you  & to the sense  & the sense that  & that you go  & you walk down  & &apos;re walking down  & along one road  & one road ,  & street , and  & and you &apos;re  & , and just  & and just because  & just because they  & you &apos;re going  & you &apos;re walking  & walking on the  & walking one or  & one or on  & other side ,  & side or on  & or the other  & or the other  & side or street  & or street ,  & your life forever  & your life always  & life always changing  & always changing forever  & change forever .  & changed forever changed  & forever changing forever  & forever changed forever  & forever changing .  & change forever .  & change . </s>  & changing . </s>  & changing <pad> <pad>
8: and they can  & never makes you  & never always coming  & always coming to  & coming to the  & to your mind  & your mind once  & sense that they  & they go down  & &apos;re walking along  & along the street  & the street and  & road , only  & street , and  & you &apos;re just  & &apos;re just because  & only because you  & because you &apos;re  & they &apos;re going  & &apos;re going on  & walking one side  & one side of  & side of the  & side , or  & or on the  & on one side  & or the road  & street , their  & your life changed  & life changes your  & life forever change  & forever change forever  & changing forever changing  & changing forever changing  & changing forever changing  & forever changing forever  & forever changing forever  & life forever .  & changing forever .  & forever . </s>  & forever </s> <pad>
9: and it can  & there &apos;s never  & never really make  & really make you  & coming to your  & to mind you  & your mind that  & sense that you  & they go along  & walk along one  & walking down a  & the street ,  & street , only  & road and only  & , just because  & and they &apos;re  & just because you  & because they walk  & they walk on  & walk on one  & going one or  & either side of  & one side ,  & of the street  & , or the  & street or the  & one side ,  & , your life  & your life is  & their life always  & changes your life  & changes forever changed  & life forever changed  & changing forever changed  & changed forever changing  & changed forever changing  & change forever .  & changed forever .  & changed forever .  & forever . <pad>  & forever <pad> <pad>
==================================================4gram Constraints (Iteration 4)==================================================
0: and they never come  & they never come to  & never come to mind  & come to mind that  & to mind that you  & mind that you &apos;re  & that you &apos;re walking  & you &apos;re walking down  & &apos;re walking down a  & walking down a road  & down a road and  & a road and only  & road and only because  & and only because they  & only because they &apos;re  & because they &apos;re walking  & they &apos;re walking on  & &apos;re walking on one  & walking on one side  & on one side or  & one side or the  & side or the other  & or the other side  & the other side of  & other side of the  & side of the street  & of the street ,  & the street , your  & street , your life  & , your life changes  & your life changes forever  & life changes forever .  & changes forever . </s>  & forever . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>  & <pad> <pad> <pad> <pad>
1: and you never come  & you never come to  & never come to you  & come to you that  & to mind that they  & mind that they &apos;re  & that they &apos;re walking  & they &apos;re walking down  & &apos;re walking along a  & walking along a road  & down a road ,  & a road and just  & road and just because  & and just because they  & just because they &apos;re  & because you &apos;re walking  & you &apos;re walking on  & they walk on one  & walk on one side  & walking one side or  & on one side or  & one side or one  & side or one side  & or one side of  & one side of the  & side of the road  & of the road ,  & the road , your  & road , your life  & your life is changing  & life is changing forever  & is changing forever .  & changing forever . </s>  & changed forever . </s>  & forever . </s> <pad>  & . </s> <pad> <pad>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>  & </s> <pad> <pad> <pad>
2: and it doesn &apos;t  & it doesn &apos;t ever  & doesn &apos;t ever mind  & &apos;t ever mind that  & to you that they  & you that they &apos;re  & mind that they walk  & you &apos;re walking along  & &apos;re walking down one  & walking down a street  & along a road and  & a road , just  & road , just because  & , just because they  & only because you &apos;re  & only because they walk  & because they walk on  & you walk on one  & &apos;re walking one side  & going one side or  & one side or on  & side or on one  & or on one side  & the other side or  & other side or the  & side or the street  & or the street ,  & street , your life  & , your life is  & their life is changing  & , your life forever  & your life forever .  & life forever . </s>  & forever changing . </s>  & changing . </s> <pad>  & forever . </s> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>  & . </s> <pad> <pad>
3: and they never really  & they never really come  & never really come to  & really come to mind  & to you that you  & you that you &apos;re  & mind that you walk  & they &apos;re walking along  & &apos;re walking along one  & walking down one street  & along a road ,  & a street and only  & street and only because  & and only because you  & just because you &apos;re  & just because they walk  & because you walk on  & they &apos;re walking one  & &apos;re going one side  & walking on one side  & on one or the  & one or the other  & side or on the  & on one side or  & other side of street  & side of street ,  & of street , your  & side , your life  & , their life is  & street , your life  & , your life changed  & your life changed forever  & life changed forever .  & forever changing forever .  & changing forever . </s>  & changing . </s> <pad>  & forever . </s> <pad>  & forever . </s> <pad>  & forever . </s> <pad>  & . . </s> <pad>
4: and it never come  & it never come to  & never really ever mind  & really ever mind that  & ever mind that they  & to mind that they  & mind they &apos;re walking  & that they walk down  & &apos;re walking along the  & walking along a street  & down a street and  & one street and only  & street , just because  & and just because you  & and only because they  & only because you walk  & because they &apos;re walking  & they &apos;re going one  & &apos;re walking on one  & walking on one or  & on either side or  & one side or on  & side or the other  & or on the other  & one side or the  & the other side ,  & other side , your  & or street , your  & the street , your  & street , is changing  & , is changing forever  & life changes forever changing  & changes forever changing .  & forever changed forever .  & changed forever . </s>  & changed forever . </s>  & changing . </s> <pad>  & changing . </s> <pad>  & forever . . </s>  & . . <pad> <pad>
5: and you can &apos;t  & they never really ever  & can &apos;t ever mind  & really coming to mind  & ever mind that you  & to mind that you  & you that they walk  & that they walk along  & they walk down a  & walking along one street  & down one street and  & a street , just  & road , and only  & , just because you  & and just because they  & just because you walk  & because they &apos;re going  & you &apos;re walking one  & &apos;re going on one  & going on one or  & on one or on  & one side or the  & side or on one  & on one side of  & on the other side  & side or the road  & or the road ,  & street , their life  & side , your life  & your life forever changes  & life forever changes forever  & your life forever changing  & life forever changing .  & changed forever changing .  & forever changing . </s>  & changing forever . </s>  & changing forever . </s>  & changing forever . </s>  & forever . . <pad>  & forever . </s> <pad>
6: and it never really  & you can &apos;t ever  & never really coming to  & really come to you  & come to mind that  & to mind they &apos;re  & you that you walk  & that you walk down  & they walk along a  & walking down one road  & down a street ,  & a road , and  & street and just because  & , and only because  & and only because you  & only because they &apos;re  & because you &apos;re walking  & they &apos;re walking on  & &apos;re walking on either  & going on one side  & on the other side  & either side or one  & other side or on  & or the other side  & the other side or  & other side or street  & side or street ,  & side , their life  & the street , is  & your life always changing  & life always changing forever  & forever changes forever .  & changing forever changing .  & changed forever changed forever  & forever changed forever .  & forever changing . </s>  & forever changing . </s>  & changing forever . .  & changing . </s> <pad>  & forever . <pad> <pad>
7: and it &apos;s never  & they never really coming  & &apos;s never really mind  & never really mind that  & come to mind they  & to you that they  & mind that you &apos;re  & that you walk along  & you walk down a  & walking along one road  & along a street and  & a street and just  & road , and just  & , and just because  & and just because you  & just because they &apos;re  & because you &apos;re going  & you &apos;re going one  & &apos;re walking on the  & walking on either side  & on either side of  & one or on one  & other side or the  & or one side or  & on one side or  & other side or the  & of street , their  & or the street ,  & , your life forever  & your life forever changing  & life forever changing forever  & always changing forever .  & changed forever . </s>  & changed forever changing forever  & forever changing forever .  & forever changing forever .  & forever changing forever .  & change forever . .  & change . </s> <pad>  & changing . </s> <pad>
8: it never makes you  & it never really ever  & makes you ever mind  & really coming to you  & coming to mind that  & to you that you  & mind that they go  & that you &apos;re walking  & you walk along a  & walking along the street  & along a street ,  & one road and only  & road , only because  & , only because they  & , and only because  & only because you &apos;re  & only because they &apos;re  & you &apos;re walking on  & they &apos;re walking on  & walking on the other  & walking on one side  & the other side or  & other side , or  & or on one side  & or on the other  & one side or the  & other side , their  & other side , your  & , your life always  & your life forever changed  & life forever changed forever  & is changing forever changing  & change forever . </s>  & forever changing forever changing  & changing forever changing .  & changed forever changing .  & changed forever . </s>  & change forever . </s>  & change . . <pad>  & changing . <pad> <pad>
9: and there &apos;s never  & it never really coming  & never always coming to  & you ever mind that  & come to you that  & to the sense that  & mind that they &apos;re  & that they &apos;re walking  & they walk along one  & walk down a road  & along one street and  & one street , just  & street , and only  & , only because you  & , and just because  & just because you &apos;re  & only because they walk  & they &apos;re going on  & you &apos;re walking on  & &apos;re walking on one  & on one side of  & either side or on  & one side or the  & side or on the  & or the other side  & on the other side  & side or the street  & , your life changes  & , their life forever  & your life forever change  & life forever change forever  & forever changing forever .  & changes forever changing forever  & forever changed forever changing  & changed forever changing .  & changed forever changing forever  & change forever . </s>  & change . </s> <pad>  & change . . </s>  & change . </s> <pad>
==================================================5gram Viterbi Result (Iteration 5)==================================================
0: and they never come to mind that they &apos;re walking down a road and only because they &apos;re walking on one side or the other side of the street , your life changes forever . </s> <pad> <pad> <pad> <pad> <pad> <pad> <pad>
